 <div ng-controller="addEditContactCtrl">   
    
    <div class="navbar">
        <div class="btn-toolbar pull-right" ng-if="contact.id">
            <a type="button" class="btn btn-link" ng-click="deleteContact(contact)">
                <i class="fa fa-lg fa-times-circle text-muted"></i> 
                <span class="underlined text-muted">Удалить контакт</span>
            </a>
        </div>
        <h1 ng-if="!contact.id">Новый контакт</h1>
        <h1 ng-if="contact.id">{{contact.name}}</h1>
    </div>

    <div class="form-horizontal">
        <div class="tabs">
            <div class="panel panel-transparent">
                <div class="panel-body">
                    <div class="clearfix">
                        <h4>
                            <a type="button" ng-click="collapse.contactData = !collapse.contactData">
                                <span>Контактные данные</span>
                            </a>
                        </h4> 
                    </div>

                    <div collapse="collapse.contactData">
                        <div class="form-group inline-edit-field">
                            <label class="col-xs-4 col-sm-4 control-label">Группа</label>
                            <select 
                                selectpicker 
                                class="show-tick col-xs-4 col-sm-4" 
                                multiple 
                                title='Выберите группу'
                                ng-model="contact.group_ids"
                                ng-options="group.id as group.name for group in settings.contact_groups"
                            >
                            </select>
                        </div>

                        <div class="form-group has-feedback group-hover inline-edit-field">
                            <label class="col-xs-4 col-sm-4 control-label">Контакт</label>
                            <div class="col-xs-7 col-sm-7">
                                <input type="text" class="form-control flat-input" ng-model="contact.name" placeholder="имя или название">
                                <i class="fa fa-lg fa-pencil form-control-feedback"></i>
                            </div>
                            
                        </div>

                        

                        <div class="form-group has-feedback group-hover inline-edit-field">
                            <label class="col-xs-4 col-sm-4 control-label">Телефон</label>
                            <div class="col-xs-7 col-sm-7">
                                <input type="text" class="form-control flat-input" ng-model="contact.phone" placeholder="0891234567">
                                <i class="fa fa-lg fa-pencil form-control-feedback"></i>
                            </div>
                            
                        </div>

                        <div class="form-group has-feedback group-hover inline-edit-field collapse in email1">
                            <label class="col-xs-4 col-sm-4 control-label">Email</label>
                            <div class="col-xs-7 col-sm-7">
                                <input type="text" class="form-control flat-input" ng-model="contact.email" placeholder="email">
                                <i class="fa fa-lg fa-pencil form-control-feedback"></i>
                            </div>
                           
                        </div>

                        <div class="form-group has-feedback group-hover inline-edit-field collapse in location1">
                            <label class="col-xs-4 col-sm-4 control-label">Место жительства</label>

                            <div class="col-xs-3 col-sm-3 nopadding-right">
                                <input type="text" class="form-control autocomplete-country" ng-model="contact.location.country" placeholder="страна">
                            </div>

                            <div class="col-xs-3 col-sm-3 nopadding-right">
                                <input type="text" class="form-control" placeholder="город"  ng-model="contact.location.city">
                            </div>

                            <div class="col-xs-1 col-sm-1"></div>
                            
                        </div>

                        <!-- <div class="form-group">
                            <div class="col-xs-7 col-sm-7 col-sm-offset-4">
                                <button type="button" data-toggle="collapse" data-target=".location2" class="btn btn-link text-muted">
                                    <i class="fa fa-lg fa-plus-circle"></i> Добавить поле адреса
                                </button>
                            </div>
                        </div>

                        <div class="form-group has-feedback group-hover inline-edit-field collapse location2">
                            <div class="col-xs-4 col-sm-4">
                                <input type="text" class="form-control flat-input text-right" placeholder="Название поля">
                            </div>
                            <div class="col-xs-7 col-sm-7">
                                <input type="text" value="chelovek" class="form-control flat-input">
                                <i class="fa fa-lg fa-pencil form-control-feedback"></i>
                            </div>
                            <div class="col-xs-1 col-sm-1 text-right">
                                <button class="btn btn-link btn-block" data-target=".location2" data-toggle="collapse" type="button">
                                    <i class="fa fa-lg fa-times-circle text-muted"></i>
                                </button>
                            </div>
                        </div> -->

                        <div class="form-group has-feedback group-hover inline-edit-field  collapse in note1">
                            <label class="col-xs-4 col-sm-4 control-label">Заметка</label>
                            <div class="col-xs-7 col-sm-7">
                                <input type="text" ng-model="contact.comment" placeholder="текст" class="form-control flat-input">
                                <i class="fa fa-lg fa-pencil form-control-feedback"></i>
                            </div>

                            
                        </div>

                        <div class="form-group has-feedback group-hover inline-edit-field" ng-repeat="im in contact.ims">
                            <label class="col-xs-4 col-sm-4 control-label">{{im.name}}</label>
                            <div class="col-xs-7 col-sm-7">
                                <input type="text" ng-model="im.nickname" readonly="true" class="form-control flat-input">
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-xs-7 col-sm-7 col-sm-offset-4">
                                <button type="button" class="btn btn-link text-muted" ng-click="collapse.add_im = !collapse.add_im">
                                    <i class="fa fa-lg fa-plus-circle"></i> Добавить мессенджер
                                </button>
                            </div>
                        </div>

                        <div class="form-group has-feedback group-hover inline-edit-field" collapse="!collapse.add_im">
                            <div class="col-xs-4 col-sm-4">
                                <input type="text" class="form-control flat-input text-right" placeholder="Название мессенджера" ng-model="im.name">
                            </div>
                            <div class="col-xs-7 col-sm-7">
                                <input type="text" value="" class="form-control flat-input" placeholder="профиль в мессенджере" ng-model="im.nickname">
                                <i class="fa fa-lg fa-pencil form-control-feedback"></i>
                            </div>
                            <div class="col-xs-1 col-sm-1 text-right">
                                <button class="btn btn-link btn-block" type="button" ng-disabled="!im.name || !im.nickname" ng-click="addIM(im)">
                                    <i class="fa fa-lg fa-save"></i>
                                </button> 
                            </div>
                        </div>


                        <!-- <div class="form-group">
                            <div class="col-xs-7 col-sm-7 col-sm-offset-4">
                                <button type="button" data-toggle="collapse" data-target=".addfield" class="btn btn-link text-muted">
                                    <i class="fa fa-lg fa-plus-circle"></i> Добавить поле
                                </button>
                            </div>
                        </div> -->

                        <!-- <div class="form-group has-feedback group-hover inline-edit-field addfield collapse addfield">
                            <div class="col-xs-4 col-sm-4"><input type="text" class="form-control flat-input text-right" placeholder="Название поля"></div>
                            <div class="col-xs-7 col-sm-7">
                                <input type="text" class="form-control flat-input" placeholder="Значение поля" value="">
                                <i class="fa fa-lg fa-pencil form-control-feedback"></i>
                            </div>
                            <div class="col-xs-1 col-sm-1 text-right"><button class="btn btn-link btn-block" data-target=".addfield" data-toggle="collapse" type="button"><i class="fa fa-lg fa-times-circle text-muted"></i></button> </div>
                        </div> -->

                    </div>
                </div>
            </div>

            

            <div class="panel panel-transparent">
                <div class="panel-body">
                    
                    <h4><a type="button" ng-click="collapse.addresses = !collapse.addresses"><span>Счета</span></a></h4>

                    <div class="tab-content nopadding">
                        <div class="tab-pane list-view active">
                            <div class="table-responsive panel">
                                
                                <table class="table table-condensed table-hover data-table safes-table">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-6"><span class="nowrap">Счет сейфа <i class="fa fa-chevron-down" style="opacity:0.3"></i></span></th>
                                            <th class="col-sm-6"><span class="nowrap">Алиасы <i class="fa fa-chevron-down" style="opacity:0.3"></i></span></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-if="!contact.addresses.length">
                                            <td colspan="2">Нет записей</td>
                                        </tr>
                                        <tr ng-repeat="address in contact.addresses">
                                            <td>
                                                <div class="dropdown" dropdown auto-close="outsideClick">
                                                    <button aria-expanded="false" dropdown-toggle class="btn btn-link dropdown-toggle" type="button">
                                                        <span class="account-text">
                                                            <span class="text-muted"> 
                                                                <span style="color:#999">
                                                                    {{address}}
                                                                </span>
                                                            </span>
                                                            <span class="moredots">...<span class="caret"></span></span>
                                                        </span>
                                                    </button>
                                                    <div role="menu" class="dropdown-menu dropdown-menu-left">
                                                        <div style="padding:10px">
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    <div class="contractor">
                                                                        <pre class="safe-number" style="height:60px">{{address}}</pre>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <span  ng-repeat="alias in aliases | filter : {address: address}"><span class="label label-info">@{{alias.alias}}</span><span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div collapse="collapse.addresses">
                        <div>
                            <div class="" style="margin:-15px 0 15px">
                                <a class="btn btn-link" type="button" ng-click="collapse.new_address = !collapse.new_address">
                                    <i class="fa fa-lg fa-plus-circle"></i> 
                                    <span class="underlined ">Добавить еще счет</span>
                                </a>
                            </div>
                        </div>

                        <div class="form-group has-feedback group-hover inline-edit-field" collapse="!collapse.new_address">
                            <label class="col-xs-4 col-sm-4 control-label">
                                Счет
                                <i 
                                    class="fa fa-lg " 
                                    ng-class="{
                                        'text-success fa-check':contact.is_valid_address,
                                        'text-danger fa-question':!contact.is_valid_address,
                                    }"
                                ></i>
                            </label>
                            <div class="col-xs-7 col-sm-7">
                                <!-- <input type="text" value="" placeholder="длинный номер счета " class="form-control flat-input"> -->
                                <angucomplete-alt 
                                    placeholder="счет или @алиас"
                                    pause="100"
                                    selected-object="selectAlias"
                                    local-data="aliases"
                                    search-fields="name"
                                    title-field="name"
                                    description-field="comment"
                                    minlength="3"
                                    input-class="form-control"
                                    input-changed="inputChanged"
                                    text-no-results="Aliases not found"
                                />
                                <!-- <i class="fa fa-lg fa-pencil form-control-feedback"></i> -->
                            </div>
                            <div class="col-xs-1 col-sm-1 text-right">
                                <button class="btn btn-link btn-block" type="button" ng-disabled="!contact.is_valid_address" ng-click="addAddress()">
                                    <i class="fa fa-lg fa-save"></i>
                                </button> 
                            </div>
                        </div>
                    </div>

                </div>
            </div>
       
            

            <!-- <div class="startbox" id="contacthistiry">
                <div class="panel">
                    <div class="panel-body">
                        <h4><i class="gu gu-3x  gu-money"></i>Связанные платежи</h4>
                    </div>
                </div>
            </div> -->

        </div>

        <div class="panel panel-transparent">
            <div class="panel-body">
                <div class="col-xs-6 col-sm-6">
                    <a type="button" ng-disabled="!contact.addresses.length" class="btn btn-primary btn-block" ng-click="saveContact(contact)">Сохранить</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="footer"></div>
</div>






