    <div ng-controller="addGOfferCtrl">

        <h1>
            Заявка на 
            <span ng-if="offer.offer_type == 2">покупку</span>
            <span ng-if="offer.offer_type == 3">продажу</span> 
            гульденов
        </h1>
        
        <h5>
            Здесь Вы можете создать заявку на 
            <span class="collapse in selltext">покупка</span>
            <span class="collapse selltext">продажу</span> 
            гульденов в сети, бла-бла-бла” и так для каждого экрана который мы выбираем слева в меню
            <br>
            Сообщение о том, что сначала лучше бы поискать, есть ли что-то похожее на рынке, и только потом создавать заявку
        </h5>

        <form class="form-horizontal">
        
        <div class="tabs">

            <div class="panel">
                <div class="panel-body">
                    <h4>
                        <a type="button" data-toggle="collapse" data-target=".collapse1">  
                            <span>Выбор сейфа</span>
                        </a>
                    </h4>
                    <div class="collapse in collapse1">
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-4">Сейф, за счет которого будет осуществлена заявка</label>
                            <select class="col-xs-4 col-sm-4" selectpicker ng-model="offer.wallet_id" ng-options="safe.wallet_id as safe.name + ' (' +safe.balance_formated + ')' for safe in safes"></select>
                            <!-- <div class="col-xs-4 col-sm-4">
                                <label class="checkbox"><input type="checkbox"> Не показывать номер счета в предложении</label>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-body">
                    <h4>
                        <a href="" type="button" data-toggle="collapse" data-target=".collapse00">  
                            <span>
                                Детали 
                                <span ng-if="offer.offer_type == 2">покупки</span>
                                <span ng-if="offer.offer_type == 3">продажи</span>
                            </span>
                        </a>
                    </h4>

                    <div class="there-are-more-deals-like-this-panel buyG_sticker">
                        <div class="panel-content">
                            В данный момент на рынке есть<br>
                            <a href="">
                                <strong>5</strong> заявок, соответствующих вашей
                            </a>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-4 col-sm-4 control-label">
                            Тип объявления 
                        </label>
                        <select class="col-xs-4 col-sm-4" selectpicker ng-model="offer.offer_type" ng-options="type.key as type.value for type in offer_types"></select>
                    </div>
                    <div class="collapse in collapse00">
                        <div class="form-group">
                            <label class="control-label col-xs-4 col-sm-4">
                                Валюта расчета
                            </label>
                            <select class="col-xs-4 col-sm-4" selectpicker  ng-model="offer.currency" ng-options="currency.code as currency.title for currency in currencies"></select>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane usd active">
                                <div class="form-group">
                                    <label class="control-label col-xs-4 col-sm-4">
                                        Сумма 
                                        <span ng-if="offer.offer_type == 2">покупки</span>
                                        <span ng-if="offer.offer_type == 3">продажи</span>
                                         в G
                                    </label>
                                    <div class="col-xs-4 col-sm-4">
                                        <div class="input-group">
                                            <input type="text" ng-change="recount('lui')" ng-model="offer.amount_lui" class="form-control buyG_amountG">
                                            <span class="input-group-addon">G</span>
                                        </div>
                                    </div>

                                </div>
                                <!-- <div class="form-group collapse selltext">
                                    <label class="col-xs-4 col-sm-4 control-label">
                                        Бонус
                                    </label>
                                    <div class="col-xs-4 col-sm-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control">
                                            <select class="selectpicker input-group-btn select-btn-success"><option>%</option><option>G</option></select>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4"><div class="help-block">Вы можете повысить приклекательность своей заявки, если установите небольшой процент от сделки или сумму гульденов сверх суммы продажи</div></div>
                                </div> -->
                                <div class="form-group">
                                    <label class="control-label col-xs-4 col-sm-4">
                                        Сумма 
                                        <span ng-if="offer.offer_type == 2">покупки</span>
                                        <span ng-if="offer.offer_type == 3">продажи</span>
                                         в {{offer.currency}}
                                    </label>
                                    <div class="col-xs-4 col-sm-4">
                                        <!-- <div class="input-group"> -->
                                            <input type="text" ng-change="recount('target')" ng-model="offer.amount_etc" class="form-control buyG_amountFiat">
                                            <!-- <span class="input-group-addon"><i class="fa fa-dollar"></i></span> -->
                                        <!-- </div> -->
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label class="control-label col-xs-4 col-sm-4">Курс</label>
                                    <div class="col-xs-4 col-sm-4">
                                        <!-- <div class="input-group"> -->
                                            <input type="text" ng-change="recount('rate')" ng-model="offer.rate" placeholder="цена 1 гульдена" class="form-control buyG_rate">
                                            <!-- <span class="input-group-addon"><i class="fa fa-dollar"></i></span> -->
                                        <!-- </div> -->
                                    </div>
                                    <div class="col-xs-4 col-sm-4">
                                        <div class="help-block nomargin">
                                            <span ng-if="offer.offer_type == 1">Верхняя граница, по которой вы сможете купить</span>
                                            <span ng-if="offer.offer_type == 0">Нижняя граница, по которой вы сможете продать</span> 
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-group">

                                    <label class="control-label col-xs-4 col-sm-4">Ваш счет,<span class="collapse in selltext"> на который перечислят G</span><span class="collapse selltext"> c которого нужно снять G</span></label>

                                    <select class="selectpicker col-xs-4 col-sm-4">
                                        <option>Safelabel (@@safealias) 4.20 G</option>
                                        <option>Safelabel1 (@safealias1) 30.40 G</option>
                                        <option>Safelabel2 (@safealias2) 0.56 G</option>
                                        <option>Safelabel-997398r (@safealias5) 0.56 G</option>
                                    </select>
                                    <div class="col-xs-4 col-sm-4">
                                        <label class="checkbox"><input type="checkbox"> Не показывать номер счета в предложении</label>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="control-label col-xs-4 col-sm-4">
                                        Условия 
                                        <span ng-if="offer.offer_type == 1">покупки</span>
                                        <span ng-if="offer.offer_type == 0">продажи</span>
                                    </label>
                                    <select selectpicker class="col-xs-4 col-sm-4" ng-options="item for item in deal_details" ng-model="offer.deal_details"></select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-4 col-sm-4">Комментарий к заявке</label>
                                    
                                    <div class="col-xs-4 col-sm-4">
                                        <input type="text" ng-model="offer.comment" class="form-control">
                                    </div>
                                </div>

                                <a href="" type="button" data-toggle="collapse" data-target=".collapse01" class="btn btn-block btn-light" >Курс и котировки USD/G <i class="fa fa-chevron-down"></i></a>

                                <!-- {{offers}}
                                <br>
                                ---------------------------------------------
                                <br>

                                {{offers | filter : {target: offer.currency, offer_type: 2}  }} -->

                                <div class="collapse collapse01">
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3">
                                            <label class="width100">Спрос в системе</label>
                                            <div class="scroll">
                                                <div class="scroll-inner">
                                                    <table class="table table-condensed table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>Курс {{offer.currency}}/G</th>
                                                            <th>Сумма, G</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-if="cur_offers_buy.length" ng-repeat="item in cur_offers_buy = (offers | filter : {target: offer.currency, offer_type: 2})">
                                                            <td>{{(item.amount_etc / (item.amount_lui  | gulden : false))}}</td>
                                                            <td>{{(item.amount_lui * item.amount_etc) | gulden : false}}</td>
                                                        </tr>
                                                        <tr ng-if="!cur_offers_buy.length"><td colsapn="2">Нет данных</td></tr>
                                                        <!-- <tr><td>368.89</td><td>48.00</td></tr>
                                                        <tr><td>368.88</td><td>0.78</td></tr>
                                                        <tr><td>368.91</td><td>48.89</td></tr>
                                                        <tr><td>368.93</td><td>0.78</td></tr>
                                                        <tr><td>368.96</td><td>34.90</td></tr>
                                                        <tr><td>368.98</td><td>10.78</td></tr>
                                                        <tr><td>369.00</td><td>80.89</td></tr>
                                                        <tr><td>369.19</td><td>45.80</td></tr>
                                                        <tr><td>369.89</td><td>45.34</td></tr>
                                                        <tr><td>369.99</td><td>3.78</td></tr>
                                                        <tr><td>370.09</td><td>8.48</td></tr> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-3 col-sm-3">
                                            <label class="width100">Предложение в системе</label>
                                            <div class="scroll">
                                                <div class="scroll-inner">
                                                    <table class="table table-condensed table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Курс {{offer.currency}}/G</th>
                                                                <th>Сумма, G</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-if="cur_offers_sell.length" ng-repeat="item in cur_offers_sell = (offers | filter : {target: offer.currency, offer_type: 3})">
                                                            <td>{{(item.amount_etc / (item.amount_lui  | gulden : false))}}</td>
                                                            <td>{{(item.amount_lui * item.amount_etc) | gulden : false}}</td>
                                                        </tr>
                                                        <tr ng-if="!cur_offers_sell.length"><td colsapn="2">Нет данных</td></tr>
                                                        <!-- <tr><td>368.89</td><td>0.78</td></tr>
                                                        <tr><td>368.89</td><td>48.00</td></tr>
                                                        <tr><td>368.88</td><td>0.78</td></tr>
                                                        <tr><td>368.91</td><td>48.89</td></tr>
                                                        <tr><td>368.93</td><td>0.78</td></tr>
                                                        <tr><td>368.96</td><td>34.90</td></tr>
                                                        <tr><td>368.98</td><td>10.78</td></tr>
                                                        <tr><td>369.00</td><td>80.89</td></tr>
                                                        <tr><td>369.19</td><td>45.80</td></tr>
                                                        <tr><td>369.89</td><td>45.34</td></tr>
                                                        <tr><td>369.99</td><td>3.78</td></tr>
                                                        <tr><td>370.09</td><td>8.48</td></tr> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-6 col-sm-6">
                                            <label class="width100">
                                                <div class="btn-group pull-right">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                        softmarket.com <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#">softmarket.com</a></li>
                                                        <li><a href="#">softmarket2.com</a></li>
                                                        <li><a href="#">softmarket5.com</a></li>
                                                    </ul>
                                                </div>
                                                Последние сделки на биржах </label>
                                            <div class="scroll">
                                                <div class="scroll-inner">
                                                    <table class="table table-condensed table-hover">
                                                        <thead>
                                                        <tr><th>Возраст</th><th>Курс USD/G</th><th>Сумма, G</th></tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr><td colsapn="2">Нет данных</td></tr>
                                                        <!-- <tr><td>3 сек назад</td><td>368.89</td><td>0.78</td></tr>
                                                        <tr><td>4 сек назад</td><td>368.89</td><td>48.00</td></tr>
                                                        <tr><td>4 сек назад</td><td>368.88</td><td>0.78</td></tr>
                                                        <tr><td>6 сек назад</td><td>368.91</td><td>48.89</td></tr>
                                                        <tr><td>10 сек назад</td><td>368.93</td><td>0.78</td></tr>
                                                        <tr><td>10 сек назад</td><td>368.96</td><td>34.90</td></tr>
                                                        <tr><td>12 сек назад</td><td>368.98</td><td>10.78</td></tr>
                                                        <tr><td>15 сек назад</td><td>369.00</td><td>80.89</td></tr>
                                                        <tr><td>20 сек назад</td><td>369.19</td><td>45.80</td></tr>
                                                        <tr><td>24 сек назад</td><td>369.89</td><td>45.34</td></tr>
                                                        <tr><td>34 сек назад</td><td>369.99</td><td>3.78</td></tr>
                                                        <tr><td>44 сек назад</td><td>370.09</td><td>8.48</td></tr> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-body">

                    <h4><a href="" type="button" data-toggle="collapse" data-target=".collapse2">  <span>Cпособы связи</span></a></h4>
                    <div class="collapse in collapse2">
                        <div class="form-group">
                            <label  class="control-label col-xs-4 col-sm-4">Email</label>
                            <div class="col-xs-4 col-sm-4">
                                <input type="text" class="form-control" ng-model="offer.contacts.email" placeholder="username@domain.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="control-label col-xs-4 col-sm-4">Телефон</label>
                            <div class="col-xs-4 col-sm-4">
                                <input type="text" class="form-control" ng-model="offer.contacts.phone" placeholder="0897654321">
                            </div>
                        </div>

                       <!--  <div class="form-group">

                            <label  class="control-label col-xs-4 col-sm-4">Мессенджер и ник в нем</label>
                            <div class="col-xs-8 col-sm-8">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6">
                                        <input type="text" class="form-control" placeholder="напр. skype">
                                    </div>
                                    <div class="col-xs-5 col-sm-5">
                                        <input type="text" class="form-control" placeholder="ник в skype">
                                    </div>
                                    <div class="col-xs-1 col-sm-1">
                                        <a href="#" class="btn btn-link btn-add collapse in addfield1" data-toggle="collapse" data-target=".addfield1" type="button" title="Добавить способ связи "><i class="fa fa-lg fa-plus-circle"></i> </a>
                                        <a href="#" class="btn btn-link btn-add collapse addfield1" data-toggle="collapse" data-target=".addfield1" type="button" title="Удалить способ связи"><i class="fa fa-lg fa-minus-circle"></i></a>

                                    </div>
                                </div>
                                <div class="row collapse addfield1">
                                    <div class="col-xs-6 col-sm-6">
                                        <input type="text" class="form-control" placeholder="напр. skype">
                                    </div>
                                    <div class="col-xs-5 col-sm-5">
                                        <input type="text" class="form-control" placeholder="ник в skype">
                                    </div>
                                    <div class="col-xs-1 col-sm-1"><a href="#" class="btn btn-link btn-add" data-toggle="collapse" data-target=".addfield2" type="button" title="Добавить способ связи"><i class="fa fa-lg fa-plus-circle"></i> </a></div>
                                </div>

                            </div>
                        </div> -->


                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <h4><a href="" type="button" data-toggle="collapse" data-target=".collapse1">  <span>Способы расчета</span></a></h4>
                    <div class="collapse in collapse1">
                        <div class="form-group">

                            <label class="col-xs-4 col-sm-4 control-label">Способ расчета
                                <i class="fa fa-lg fa-question-circle text-info" tooltip-placement="right" tooltip="Выберите наиболее удобный вам способ перевода средств"></i>
                            </label>

                            <select selectpicker class="show-tick col-xs-4 col-sm-4" multiple title='выбрать' ng-options="key as value for (key , value) in payment_types" ng-model="offer.payment_types">
                                
                            </select>

                        </div>
                        <div class="form-group">

                            <label class="col-xs-4 col-sm-4 control-label">
                                Любой другой способ
                                <i class="fa fa-lg fa-question-circle text-info" tooltip-placement="right" tooltip="Добавьте свой способ оплаты, если в списке нет нужного"></i>
                                
                            </label>

                            <div class="col-xs-4 col-sm-4">
                                <input type="text" ng-model="offer.payment_type_other" class="form-control" placeholder="название">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">

                    <h4><a href="" type="button" data-toggle="collapse" data-target=".collapse3"><span>Условия размещения заявки</span></a></h4>

                    <div class="collapse in collapse3">
                        
                        <div class="form-group">
                            <label  class="control-label col-xs-4 col-sm-4">
                                Количество дней размещения 
                                <i class="fa fa-lg fa-question-circle text-info" tooltip-placement="right" tooltip="Максимальное количество дней - 14. Оставьте без изменений или установите меньшее значение"></i>
                            </label>

                            <select class="col-xs-2 col-sm-2" selectpicker ng-model="offer.expiration_time" ng-options="interval for interval in intervals"></select>

                            <div class="col-xs-4 col-sm-4">
                                <div class="help-block">После указанного срока заявка автоматически удалится.</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-4 col-sm-4 control-label">
                                География видимости 
                                <i class="fa fa-lg fa-question-circle text-info" tooltip-placement="right" tooltip="Ваша заявка будет вверху списка в указанной стране"></i>
                            </label>
                            <div class="col-xs-3 col-sm-3 nopadding-right">
                                <input type="text" ng-model="offer.location.country" class="form-control" placeholder="страна">
                            </div>
                            <div class="col-xs-3 col-sm-3 nopadding-right">
                                <input type="text" ng-model="offer.location.city" class="form-control" placeholder="город">
                            </div>
                        </div>

                        <div class="form-group  unlock-block">

                            <label class="btn btn-success label-heading">
                                <input type="checkbox" ng-model="offer.is_premium" ng-change="changePackage(true)"> Премиум размещение
                            </label>

                            <div class="rounded-block">
                                 <div class="cover"></div> 
                                <h5>
                                    Поднимите заявку вверх списка всех предложений в сети. 
                                    Цена размещений в топе формируется ставками самих участников платежной системы
                                </h5>
                                <div class="form-group">
                                    <label class="control-label col-xs-4 col-sm-4">
                                        Рекомендуемая сумма для оплаты премиум размещения
                                        
                                        <i class="fa fa-lg fa-question-circle text-info" tooltip-placement="right" tooltip="В стоимость входит стандартная комиссия и сумма поднятия вверху списка в указанной стране"></i>
                                    </label>

                                    <div class="col-xs-2 col-sm-2">
                                        <div class="input-group">
                                            <input type="text" ng-model="offer.fee_premium" placeholder="число" class="form-control">
                                            <span class="input-group-addon">G</span>
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4">
                                        <div class="help-block nomargin">
                                            Вы можете увеличить сумму, чтобы дольше оставаться вверху списка
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group unlock-block">
                            <label class="btn label-heading" style="background:#eee;">
                                <input type="checkbox" ng-model="offer.is_standart"  ng-change="changePackage(false)" id="sellProduct_standardPlacement_checkbox"> Стандартное размещение
                            </label>
                            <div class="rounded-block">
                                
                                <div class="form-group">
                                    <label  class="control-label col-xs-4 col-sm-4">Комиссия за размещение</label>
                                    <div class="col-xs-2 col-sm-2">
                                        <div class="input-group">
                                            <input ng-disabled="true" ng-model="offer.fee_standart" type="text" class="form-control" placeholder="" >
                                            <span class="input-group-addon">G</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-1 col-xs-12 col-sm-12">
                    <label class="btn label-heading">
                        <input type="checkbox" ng-model="is_agree"> Подтвержаю, что ознакомился с условиями использования системы
                    </label>
                </div>
            </div>

            <div class="collpase" id="empty"></div>
            
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <a class="btn btn-block btn-lg btn-default">Отмена</a>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <button type="button" ng-click="addOffer(offer)" ng-disabled="!is_agree" class="btn btn-block btn-lg btn-primary">Отправить</button>
                </div> 
            </div>
        </div>
    </form>
    <hr>
    <div class="footer">

        <p class="small text-muted">
            Текст о том что пользователи сами берут на себя ответственность за свои заявки и исполнение обязательств по ним, текст о том что пользователи сами берут на себя ответственность за свои заявки и исполнение обязательств по ним.
        </p>
    </div>
</div>


