<div ng-controller="contactsCtrl">
    <a data-target="#addContact" class="btn btn-link pull-right" type="button" data-toggle="modal"><i class="fa fa-lg fa-file-excel-o text-muted"></i> <span class="underlined text-muted">Экспорт контактов в файл</span></a>

    <h1>Контакты</h1>
    <h5>Здесь Вы можете просмотреть список всех контактов, бла-бла-бла” и так для каждого экрана который мы выбираем слева в меню</h5>


    <div class="tabs">
        <div class="navbar">

            <form class="form-horizontal">

                <div class="row">


                    <div class="col-xs-8 col-sm-8">
                        <a href="#/addContact" class="btn btn-primary">Добавить контакт</a>
                        <a ng-click="contactGroups()" class="btn btn-link" type="button">
                            <i class="fa fa-lg fa-cog  text-muted"></i> 
                            <span class="underlined text-muted">Группы контактов</span>
                        </a>
                    </div>

                    <div class="col-xs-4 col-sm-4">
                        <input type="text" placeholder="найти текст в контактах" class="form-control" ng-model="keywords">
                    </div>
                </div>

            </form>

        </div>

        <div class="table-responsive panel">
            <table class="table table-condensed  data-table contacts-table">
                <thead>
                    <tr>
                        <th><span class="nowrap">Контакт</span></th>
                        <th><span class="nowrap">Счет</span></th>
                        <th><span class="nowrap">Email/IM's <i style="opacity:0.3" class="fa fa-chevron-down"></i></span></th>
                        <th><span class="nowrap">Группы<i style="opacity:0.3" class="fa fa-chevron-down"></i></span></th>
                        <th><span class="nowrap">Заметка <i class="fa fa-chevron-down" style="opacity:0.3"></i></span></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody class="contacts_contact_insertion">
                    <tr ng-repeat="contact in settings.contacts | filter:keywords">
                        <td>
                            <a class="safename" href="#contact/{{ contact.id }}">{{ contact.name }}</a>
                            <div class="text-muted"><a class="text-muted" href="#contact/{{ contact.id }}">{{ contact.location.city }}</a>, <a class="text-muted" href="">{{ contact.location.country }}</a></div>
                        </td>

                        <td>
                            <a class="blocklink" href="">
                                <span class="account-text">
                                    <span class="text-muted">{{contact.addresses[0]}}</span>
                                    <span class="moredots">...</span>
                                </span>
                                {{ contact.aliases }}
                                <span  ng-repeat="alias in aliases | filter : {address: contact.addresses[0]}"><span class="label label-info">@{{alias.alias}}</span>&nbsp;</span>
                            </a>
                        </td>

                        <td>
                            <ul class="list-unstyled">
                                <li><a href="mailto:{{contact.email}}">{{contact.email}}</a></li>
                                <li ng-repeat="im in contact.ims"><strong>{{im.name}}</strong> {{im.nickname}}</li>
                            </ul>
                        </td>

                        <td>
                            {{ getContactGroups(contact) }}
                        </td>

                        <td>
                            <span class="text-muted">{{ contact.comment }}</span>
                        </td>

                        <td>
                            <div class="dropdown pull-right">
                                <button type="button" class="btn btn-sm btn-link dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <i class="fa fa-lg fa-money text-muted"></i> <span class="caret text-muted"></span>
                                </button>
                                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#sendGToContact/{{ contact.id }}">Отправить гульдены</a></li>
                                    <li><a>Связанные платежи</a></li>
                                    <li><a ng-click="deleteContact(contact)">Удалить</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <div class="footer">
    </div>

</div>
