
<div class="modal-header btn btn-block btn-primary">
    <button type="button" class="close" ><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="aliasLabel">Создание нового алиаса для счета сейфа</h4>
</div>
<div class="modal-body">
    <form name="create_alias_form">

        <alert type="danger" ng-show="not_enought">
            У вас не достаточно средств для создания данного алиаса
        </alert>

        <alert type="danger" ng-show="create_alias_form.alias_name.$error.pattern">
            Алиас может состоять только из латинских букв (a-z), цифр (0-9), знаков "-" и "."
        </alert>

        <div class="form-group has-success has-feedback">
            <label class="requred">Уникальное имя</label>
            <!-- <div style="color: rgb(115, 115, 115);" class="help-block">
                Алиас может состоять только из латинской букв, цифр, начинается всегда с символа "@".
            </div> -->

             <div class="input-group">
                <span class="input-group-addon">@</span>
                <input 
                    type="text" 
                    class="form-control input-lg" 
                    ng-change="getAliasCoast(alias.name)"
                    name="alias_name"
                    ng-model="alias.name"
                    ng-pattern="/^[a-z0-9.-]{1,255}$/"
                >
                
            </div>
            
            <!-- <span style="top:auto; bottom:20px" class="fa fa-lg fa-check form-control-feedback"></span> -->
            
            <div class="help-block" ng-show="alias.name.length && !alias.exists">
                <em>это имя свободно</em>
            </div>
        </div>

        <div class="form-group clearfix">
            <label class="requred col-xs-4 col-sm-4" style="padding-left:0; padding-top:5px">
                Цена создания алиаса
            </label>

            <div class="col-xs-4 col-sm-4">
                <div class="input-group">
                    <input type="text" class="form-control" disabled ng-model="alias.reward">
                    <span class="input-group-addon">G</span>
                </div>
            </div>

            <div class="col-xs-4 col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">+</span>
                    <input type="text" class="form-control" disabled ng-model="alias.fee">
                </div>
            </div>

        </div>

        <div class="form-group">
            <div style="margin-top:0" class="help-block">
                Каждое создание и передача алиаса &ndash; платная услуга, стоимость и создания и передачи одинаковая
            </div>
        </div>

        <div class="form-group has-success has-feedback">
            <label class="requred">Комментарий</label>
            <input type="text" class="form-control input-lg" ng-model="alias.comment">
        </div>

        <div class="form-group clearfix">
            <div class="col-xs-6 col-sm-6" style="padding-left:0">
                <button class="btn btn-lg btn-block" type="button" ng-click="close()">Отменить</button>
            </div>
            <div class="col-xs-6 col-sm-6" style="padding-right:0">
                <button class="btn btn-lg btn-block btn-primary" ng-disabled="not_enought || !alias.name.length" type="button" ng-click="register(alias)">Создать</button>
            </div>
        </div>
    </form>
</div>
