    <h1>История платежей</h1>
    <h5>Здесь Вы можете просмотреть историю платежей по всем сейфам, бла-бла-бла” и так для каждого экрана который мы выбираем слева в меню</h5>
    <div class="tabs">

        <div class="startbox" id="historylist">
            <div class="panel">

                <div class="panel-body">
                    <h4><button id="" class="btn btn-link" data-target="#addContact" type="button" data-toggle="modal"><i class="gu gu-3x  gu-safe"></i>Список истории платежей пуст. Создавайте сейфы и совершайте платежи</button></h4>
                </div>
            </div>
        </div>

    </div>
    <hr>
    <div class="footer">


    </div>
