<!--     <a data-toggle="modal" type="button" class="btn btn-link pull-right" data-target="#addContact"><i class="fa fa-lg fa-file-excel-o text-muted"></i> <span class="underlined text-muted">Экспорт истории платежей в файл</span></a> -->
    <h1>История платежей</h1>
    <h5>Здесь Вы можете просмотреть историю платежей по всем сейфам, бла-бла-бла” и так для каждого экрана который мы выбираем слева в меню</h5>
    <div class="tabs" ng-controller="trHistoryCtrl">
        <div class="navbar" id="navbar-tabs">
            <form class="form-horizontal">
                <div class="collapse filter1" >
                    <div class="row" style="margin-top:20px; margin-bottom:20px;">
                        <div class="col-xs-5 col-sm-5">
                            <div class="form-group clearfix">
                                <label class="control-label required col-xs-4 col-sm-4">Период</label>
                                <select 
                                    class="col-xs-8 col-sm-8 history_period-selector" 
                                    selectpicker 
                                    style="width:100%"
                                    ng-model="filter.interval"
                                    ng-change="filterChange()"
                                    ng-options="item.key as item.value for item in interval_values"
                                >
                                </select>
                            </div>
                            <div class="form-group" ng-hide="hide_calendar">
                                <label class="control-label col-xs-4 col-sm-4 required">Дата</label>
                                <div class="col-xs-8 col-sm-8">
                                    <div class="hdatapicker">
                                        <div class="input-daterange input-group" id="datepicker">
                                            <span class="input-group-addon">от</span>
                                            <input 
                                                type="text" 
                                                class="input-sm form-control" 
                                                datepicker-popup="{{format}}" 
                                                show-button-bar="false"
                                                ng-model="tx_date.start" 
                                                is-open="opened_start" 
                                                datepicker-options="dateOptions" 
                                                date-disabled="disabled(date, mode)" 
                                                ng-required="true" 
                                                ng-change="filterChange()"
                                                close-text="Close" 
                                                
                                            />
                                            <span class="input-group-addon" ng-click="open($event,'start')"><i class="fa fa-calendar"></i></span>
                                            <span class="input-group-addon">до</span>
                                            <input 
                                                type="text" 
                                                class="input-sm form-control" 
                                                datepicker-popup="{{format}}" 
                                                show-button-bar="false"
                                                ng-model="tx_date.end" 
                                                is-open="opened_end" 
                                                datepicker-options="dateOptions" 
                                                date-disabled="disabled(date, mode)" 
                                                ng-required="true" 
                                                ng-change="filterChange()"
                                                close-text="Close" 
                                            />
                                            <span class="input-group-addon" ng-click="open($event,'end')"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-7 col-sm-7">
                            <div class="form-group clearfix">

                                <label class="control-label required col-xs-2 col-sm-2">Сейф</label>
                                <select 
                                    class="col-xs-8 col-sm-8 nopadding" 
                                    selectpicker 
                                    ng-model="filter.wallet_id"
                                    ng-change="filterChange()"
                                    ng-options="safe.wallet_id as safe.name for safe in my_safes"
                                >
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 control-label required">Состояние</label>
                                <select 
                                    class="col-xs-4 col-sm-4 nopadding" 
                                    selectpicker 
                                    ng-model="filter.is_anonim"
                                    ng-change="filterChange()"
                                    ng-options="item.key as item.value for item in is_anonim_values"
                                >
                                    
                                </select>

                                <div class="col-xs-5 col-sm-5 col-sm-offset-1">
                                    <!-- <label class="checkbox"><input type="checkbox" value=""> <strong>Скрыть доход от добычи</strong></label> -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 control-label required">Микшер</label>
                                <select 
                                    class="col-xs-4 col-sm-4 nopadding" 
                                    selectpicker 
                                    ng-model="filter.is_mixin"
                                    ng-change="filterChange()"
                                    ng-options="item.key as item.value for item in is_mixin_values"
                                >
                                </select>

                            </div>
                            <!-- <div class="form-group">
                                <div class="collapse in filter1">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4"></div>
                                        <div style="padding-right:5px" class="col-xs-4 col-sm-4">
                                            <button type="button" class="btn btn-block btn-primary">Применить</button></div>
                                        <div style="padding-left:5px" class="col-xs-4 col-sm-4"><button type="button" class="btn btn-block btn-default">Очистить фильтр</button></div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="btn-group btn-group-justified">
                            <label class="btn btn btn-primary" btn-radio="'all'" ng-model="filter.tr_type"  ng-change="filterChange()">
                                Все
                            </label>
                            <label class="btn btn btn-primary" btn-radio="'in'" ng-model="filter.tr_type"  ng-change="filterChange()">
                                Входящие
                            </label>
                            <label class="btn btn btn-primary" btn-radio="'out'" ng-model="filter.tr_type"  ng-change="filterChange()">
                                Исходящие
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <div class="collapse  filter1 close-filter">
                            <div class="btn-group"><button type="button" data-toggle="collapse" data-target=".filter1" class="btn btn-primary active"><i class="fa fa-chevron-up"></i> Фильтр</button>
                            </div>
                        </div>
                        <div class="collapse filter1 in">
                            <div class="btn-group"><button type="button" data-toggle="collapse" data-target=".filter1" class="btn btn-default"><i class="fa fa-chevron-down"></i> Фильтр</button></div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 pull-right">
                        <input type="text" ng-model="filter.keywords" class="form-control" ng-change="filterChange()" placeholder="найти текст">
                    </div>
                </div>
            </form>
            
        </div>

        <div class="table-responsive panel" ng-if="filtered_history.length">
            <table class="table table-condensed  data-table history-table">
                <thead>
                <tr>
                    <th class="col-sm-1"></th>
                    <th class="col-sm-1">
                        <span class="nowrap">
                            Дата операции 
                            <i class="fa fa-chevron-down" ng-click="order('timestamp')" style="opacity:0.3"></i>
                            <i class="fa fa-chevron-up" ng-click="order('-timestamp')" style="opacity:0.3"></i>
                        </span>
                    </th>
                    <th class="col-sm-2">
                        <span class="nowrap">
                            Состояние 
                            <i class="fa fa-chevron-down" ng-click="order('is_income')" style="opacity:0.3"></i>
                            <i class="fa fa-chevron-up" ng-click="order('-is_income')" style="opacity:0.3"></i>
                        </span>
                    </th>
                    <th class="col-sm-2">
                        <span class="nowrap">
                            Сумма, G 
                            <i style="opacity:0.3" ng-click="order('amount')" class="fa fa-chevron-down"></i>
                            <i style="opacity:0.3" ng-click="order('-amount')" class="fa fa-chevron-up"></i>
                        </span>
                    </th>
                    <th class="col-sm-2">
                        <span class="nowrap">Комиссия, G</span>
                    </th>
                    <th class="col-sm-2">
                        <span class="nowrap">
                            Кошелек 
                            <i class="fa fa-chevron-down" ng-click="order('wallet_id')" style="opacity:0.3"></i>
                            <i class="fa fa-chevron-up" ng-click="order('-wallet_id')" style="opacity:0.3"></i>
                        </span>
                    </th>
                    <th class="col-sm-2">
                        <span class="nowrap">
                            Адрес 
                            <i class="fa fa-chevron-down" ng-click="order('remote_address')" style="opacity:0.3"></i>
                            <i class="fa fa-chevron-up" ng-click="order('-remote_address')" style="opacity:0.3"></i>
                        </span>
                    </th>
                    <th class="col-sm-2">
                        <span class="nowrap">Комментарий</span>
                    </th>

                    <!-- <th><div class="th">
                        Event Name
                        <span class="fa fa-angle-up"
                              data-ng-click=" order('title') "
                              data-ng-class="{active: row == 'title'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" order('-title') "
                              data-ng-class="{active: row == '-title'}"></span>
                    </div></th> -->

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in filtered_history" class="transaction-item">
                    <td>
                        <span class="mix-label mix-label-up">
                         <img src="assets/font/svg/sound8.svg">
                            <em>
                                <i 
                                    class="fa fa-lg"
                                    ng-class="{
                                        'text-muted': !item.height,
                                        'text-danger': item.height && !item.is_income,
                                        'text-success': item.height && item.is_income,
                                        'fa-arrow-circle-o-up' : !item.is_income,
                                        'fa-arrow-circle-o-down' : item.is_income,
                                    }"
                                >
                                </i>
                            </em>
                        </span>
                    </td>
                    
                    <td>
                        <a ng-click="trDetails(item)"><small class="text-muted nowrap">{{item.timestamp | intToDate | date:'dd.MM.yy hh:mm'}}</small></a>
                        <span class="chart send-timer" data-percent="86">
                        </span>
                    </td>

                    <td>
                        <small class="text-muted" ng-if="!item.is_income && !item.height">
                            <em>Отправление</em>
                        </small>
                        <small class="text-warning" ng-if="!item.is_income && item.height">
                            <em>Отправлено</em>
                        </small>
                        <small class="text-muted" ng-if="item.is_income && !item.height">
                            <em>Получение</em>
                        </small>
                        <small class="text-info" ng-if="item.is_income && item.height">
                            <em>Получено</em>
                        </small>
                    </td>

                    <td>
                        <span ng-if="!item.is_income">&ndash;</span>{{item.amount | gulden}}
                    </td>

                    <td>
                        <span ng-if="!item.is_income">&ndash;</span>{{item.fee | gulden}}
                    </td>

                    <td>
                        <a ng-repeat="safe in safes | filter : { wallet_id : item.wallet_id}" ng-if="item.wallet_id > -1" href="#safe/{{item.wallet_id}}">{{safe.name}}</a>
                        <!-- <div class="dropdown" ng-if="item.remote_address">
                            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="account-text">
                                    <span class="text-muted">
                                        <span style="color:#999">
                                            {{item.remote_address}}
                                        </span>
                                    </span>
                                    <span class="moredots">...<span class="caret"></span></span>
                                </span>
                            </button>

                            <div role="menu" class="dropdown-menu dropdown-menu-left">
                                <div style="padding:10px">
                                    <ul class="list-unstyled">
                                        <li>
                                            <div class="contractor">
                                                <button style="position:absolute; bottom:0; right:0" class="btn btn-sm btn-default pull-right">
                                                    скопировать
                                                </button>
                                                <pre class="safe-number" style="height:60px">{{item.remote_address}}</pre>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            
                            <div role="menu" class="dropdown-menu dropdown-menu-left" ng-repeat="safe in safes | filter : { address : item.remote_address}">
                                <div style="padding:10px">
                                    <ul class="list-unstyled">
                                        <li>Сейф: <a  href="#safe/{{safe.wallet_id}}">{{safe.name}}</a></li>
                                        <li>
                                            <div class="contractor">
                                                <button style="position:absolute; bottom:0; right:0" class="btn btn-sm btn-default pull-right">
                                                    скопировать
                                                </button>
                                                <pre class="safe-number" style="height:60px">{{item.remote_address}}
                                                </pre>
                                            </div>
                                        </li>
                                        <li  ng-repeat="alias in aliases | filter : {address: safe.address}"><a  href="#safe/{{safe.wallet_id}}">@{{alias.alias}}</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted" ng-if="!item.remote_address">
                            <em>неизвестно</em>
                        </small> -->
                    </td>

                    <td>
                        
                        <div class="dropdown" ng-if="item.remote_address" dropdown  auto-close="outsideClick">
                            <button type="button" class="btn btn-link dropdown-toggle" dropdown-toggle >
                                <span class="account-text">
                                    <span class="text-muted">{{item.remote_address}}</span>
                                    <span class="moredots">...<span class="caret"></span></span>
                                </span>
                            </button>

                            <!-- <div role="menu" class="dropdown-menu dropdown-menu-left">
                                <div style="padding:10px">
                                    <ul class="list-unstyled">
                                        <li>
                                            <div class="contractor">
                                                <button style="position:absolute; bottom:0; right:0" class="btn btn-sm btn-default pull-right">
                                                    скопировать
                                                </button>
                                                <pre class="safe-number" style="height:60px">{{item.remote_address}}</pre>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->

                            <div role="menu" class="dropdown-menu dropdown-menu-left">
                                <div style="padding:10px">
                                    <ul class="list-unstyled">
                                        <!-- <li>Сейф: <a  href="">{{safe.name}}</a></li> -->
                                        <li>
                                            <div class="contractor">
                                                <!-- <button style="position:absolute; bottom:0; right:0" class="btn btn-sm btn-default pull-right">
                                                    скопировать
                                                </button> -->
                                                <pre class="safe-number" style="height:60px">{{item.remote_address}}
                                                </pre>
                                            </div>
                                        </li>
                                        <li  ng-repeat="alias in aliases | filter : {address: item.remote_address}"><a  href="#safe/{{safe.wallet_id}}">@{{alias.alias}}</a></li>
                                        
                                    </ul>
                                </div>
                            </div>

                        </div>

                        


                        <small class="text-muted" ng-if="!item.remote_address">
                            <em>неизвестно</em>
                        </small>
                    </td>

                    <td><span class="text-muted">{{item.comment}}</span></td>
                </tr>

                </tbody>

            </table>

        </div>


<!--         <div class="navbar">
            <button class="btn btn-block btn-default navbar-btn">Загрузить еще N</button>

            <div class="text-right"> <button class="btn btn-link text-muted"><span class="text-muted underlined">Показать все платежи</span></button></div>
        </div> -->

    </div>
    <hr>
    <div class="footer">
    </div>
