<div ng-controller="marketCtrl">
    <div class="market_export-my-orders col-xs-3 col-sm-3 pull-right"> 
        <a data-toggle="modal" type="button" class="btn btn-link pull-right" data-target="#addContact">
            <i class="fa fa-lg fa-file-excel-o text-muted"></i> 
            <span class="underlined text-muted">Экспорт моих заявок в файл</span>
        </a>
    </div>
    <h1 id="market">Рынок предложений валют и товаров</h1>
    <h5>Здесь Вы можете просмотреть рынок предложений, бла-бла-бла” и так для каждого экрана который мы выбираем слева в меню</h5>

    <tabset>
        <tab heading="Валюта"><div class="panel"><div class="panel-body">
            <div class="navbar">
                <form>
                    <div class="collapse filter11">
                        <div class="row topmargin">
                            <div class="col-xs-5 col-sm-5">
                                <div class="form-group clearfix">
                                    <label class="col-xs-4 col-sm-4 control-label required" style="">Валюта расчета</label>
                                    <select 
                                        selectpicker 
                                        class="col-xs-3 col-sm-3 nopadding btn-sm"
                                        ng-model="currency_filter.currency"
                                        ng-change="currencyFilterChange()"
                                        ng-options="item.code as item.code for item in currencies"
                                    >
                                    </select>
                                </div>
                                <!-- <div class="form-group clearfix">
                                    <label class="col-xs-4 col-sm-4 control-label required" style="">
                                        Сумма <span class="collapse in">покупки</span><span class="collapse">продажи</span>
                                    </label>
                                    <div class="col-xs-8 col-sm-8">
                                        <div style="margin:0 -15px" class="row">

                                            <div style="padding-left:0" class="col-xs-6 col-sm-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">от</span>
                                                    <input type="text" class="form-control" placeholder="число">
                                                    <span class="input-group-addon">G</span>
                                                </div>
                                            </div>
                                            <div style="padding-right:0" class="col-xs-6 col-sm-6">

                                                <div class="input-group">
                                                    <span class="input-group-addon">до</span>
                                                    <input type="text" class="form-control" placeholder="число">
                                                    <span class="input-group-addon">G</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group clearfix">
                                    <label class="col-xs-4 col-sm-4 control-label required">
                                        Курс
                                    </label>

                                    <div class="col-xs-8 col-sm-8"><div class="row" style="margin:0 -15px">
                                        <div style="padding-left:0" class="col-xs-6 col-sm-6">

                                            <div class="input-group">
                                                <span class="input-group-addon">от</span>
                                                <input type="text" class="form-control" placeholder="цена 1 гульдена">
                                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                            </div>
                                        </div>
                                        <div style="padding-right:0" class="col-xs-6 col-sm-6 ">

                                            <div class="input-group">
                                                <span class="input-group-addon">до</span>
                                                <input type="text" class="form-control" placeholder="535">
                                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                </div>

                                <div class="form-group clearfix">

                                    <label style="padding-left: 0" class="col-xs-4 col-sm-4 required"></label>
                                    <div class="col-xs-8 col-sm-8 nopadding" style="margin-top: -4px; margin-bottom: 25px;">
                                        <label class="checkbox"><input type="checkbox" value=""> <strong>Бонус</strong></label>
                                    </div>

                                </div> -->
                            </div>
                            <div class="col-xs-7 col-sm-7">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="form-group clearfix">
                                            <label class="col-xs-6 col-sm-6 required text-right" style="padding-left: 0">
                                                Возраст заявки</label>
                                            <select 
                                                selectpicker 
                                                class="btn-sm col-xs-6 col-sm-6 nopadding"
                                                ng-model="currency_filter.interval"
                                                ng-options="item.key as item.value for item in goods_interval_values"
                                                ng-change="currencyFilterChange()"
                                            >
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">

                                        <div class="form-group clearfix market_currency_order-age-datapicker-row" ng-hide="cf_hide_calendar">
                                            <div class="nopadding">
                                                <div class="hdatapicker">
                                                    <div class="input-daterange input-group">
                                                        <span class="input-group-addon">от</span>
                                                        <input 
                                                            type="text" 
                                                            class="input-sm form-control input-date" 
                                                            datepicker-popup="{{format}}" 
                                                            show-button-bar="false"
                                                            ng-model="currency_offer_date.start" 
                                                            is-open="gf_opened.cur_start" 
                                                            datepicker-options="dateOptions" 
                                                            ng-required="true" 
                                                            ng-change="currencyFilterChange()"
                                                            close-text="Close" 
                                                            
                                                        />
                                                        <span class="input-group-addon" ng-click="gf_open($event,'cur_start')"><i class="fa fa-calendar"></i></span>
                                                        <span class="input-group-addon">до</span>
                                                        <input 
                                                            type="text" 
                                                            class="input-sm form-control input-date" 
                                                            datepicker-popup="{{format}}" 
                                                            show-button-bar="false"
                                                            ng-model="currency_offer_date.end" 
                                                            is-open="gf_opened.cur_end" 
                                                            datepicker-options="dateOptions" 
                                                            ng-required="true" 
                                                            ng-change="currencyFilterChange()"
                                                            close-text="Close" 
                                                        />
                                                        <span class="input-group-addon" ng-click="gf_open($event,'cur_end')"><i class="fa fa-calendar"></i></span>
                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>

                                <div class = "row">
                                    <div class="form-group clearfix">
                                        <label class="text-right col-xs-3 col-sm-3 required">
                                            Способ расчета
                                        </label>
                                        <select 
                                            selectpicker 
                                            class="show-tick btn-sm col-xs-8 col-sm-8 nopadding" 
                                            multiple
                                            title='выбрать'
                                            ng-model="currency_filter.payment_types"
                                            ng-change="currencyFilterChange()"
                                            ng-options="key as value for (key,value) in payment_types"
                                        >
                                            
                                        </select>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group clearfix">
                                        <label class="col-xs-3 col-sm-3 required text-right" style="">География</label>
                                        <div class="col-xs-4 col-sm-4 nopadding">
                                            <input 
                                                type="text" 
                                                class="form-control autocomplete-countries" 
                                                placeholder="страны" 
                                                ng-model="currency_filter.country_keywords"
                                                ng-change="currencyFilterChange()"
                                            >
                                        </div>
                                        <div class="col-xs-5 col-sm-5">
                                            <input 
                                                type="text" 
                                                class="form-control autocomplete-cities" 
                                                placeholder="города в странах" 
                                                ng-model="currency_filter.city_keywords"
                                                ng-change="currencyFilterChange()"
                                            >
                                        </div>
                                    </div>

                                    <!-- <div class="form-group text-right">
                                        <div class="collapse filter11">
                                            <div class="col-xs-6 col-sm-6"></div>
                                            <div style="padding-right:5px" class="col-xs-3 col-sm-3">
                                                <button type="button" class="btn btn-block btn-primary">Применить</button></div>
                                            <div style="padding-left:5px" class="col-xs-3 col-sm-3">
                                                <button type="button" class="btn btn-block btn-default">Очистить фильтр</button>
                                            </div>
                                        </div>
                                    </div> -->

                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-4 col-sm-4">

                            <div class="btn-group btn-group-justified">
                                <label class="btn btn btn-primary" btn-radio="'all'" ng-model="currency_filter.offer_type" ng-change="currencyFilterChange()">
                                    Все
                                </label>
                                <label class="btn btn btn-primary" btn-radio="'sell'" ng-model="currency_filter.offer_type"  ng-change="currencyFilterChange()">
                                    Предложение
                                </label>
                                <label class="btn btn btn-primary" btn-radio="'buy'" ng-model="currency_filter.offer_type"  ng-change="currencyFilterChange()">
                                    Спрос
                                </label>
                            </div>

                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <div class="collapse filter11 close-filter">
                                <div class="btn-group"><button type="button" data-toggle="collapse" data-target=".filter11" class="btn btn-primary active"><i class="fa fa-chevron-up"></i> Фильтр</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 pull-right">
                            <input type="text" class="form-control" placeholder="найти текст" ng-model="currency_filter.keywords" ng-change="currencyFilterChange()">
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <div class="collapse in filter11">
                                <div class="btn-group"><button type="button" data-toggle="collapse" data-target=".filter11" class="btn btn-default"><i class="fa fa-chevron-down"></i> Фильтр</button></div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <h5>Легенда - объяснить цвета: зеленый топ, желтое, серое и прочее</h5>

            <div class="table-responsive panel market-table-responsive">
                <table class="table table-condensed data-table table-hover">
                    <thead>
                    <tr>
                        <th class="col-sm-1">
                            <span class="nowrap">Возраст 
                                <i style="opacity:0.3" ng-click="order('timestamp','currency')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-timestamp','currency')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>
                        <th class="col-sm-1">
                            <!-- <span class="nowrap">Курс, $ <i style="opacity:0.3" class="fa fa-chevron-down"></i></span> -->
                            <span class="nowrap">Предложение 
                                <i style="opacity:0.3" ng-click="order('amount_etc','currency')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-amount_etc','currency')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>
                        <th class="col-sm-1">
                            <span class="nowrap">Сумма, G 
                                <i style="opacity:0.3" ng-click="order('amount_lui','currency')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-amount_lui','currency')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>
                        <th class="col-sm-2">
                            Контакт
                        </th>
                        <!-- <th>
                            <span class="nowrap">Рейтинг <i class="fa fa-chevron-down" style="opacity:0.3"></i></span>
                        </th> -->
                        <!-- <th>
                            <span class="nowrap">Условия<i class="fa fa-chevron-down" style="opacity:0.3"></i></span>
                        </th> -->
                        <th class="col-sm-2">
                            <span class="nowrap">Рассчет
                                <i style="opacity:0.3" ng-click="order('payment_types','currency')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-payment_types','currency')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>
                        <th class="col-sm-2">
                            <span class="nowrap">Местор-е
                                <i style="opacity:0.3" ng-click="order('location','currency')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-location','currency')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>
                        <th class="col-sm-2">
                            <span class="nowrap">Комментарий<span></span></span>
                        </th>
                        <th class="col-sm-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{'success':true, 'new':false, 'disable':false}" ng-repeat="offer in f_currency_offers">
                            <td>
                                {{offer.timestamp  | intToDate | date:'dd.MM.yy hh:mm'}}
                            </td>
                            <td>
                                <span class="nowrap">{{offer.amount_etc}} {{offer.target}}</span>
                            </td>
                            <td>
                                {{offer.amount_lui | gulden:false}} <!-- <span class="label label-danger">+ 2%</span> -->
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>
                                        <!-- <a mailto:bicoing@yahoo.com="" href="" class="nowrap"> bicoinG@yahoo.com</a> -->
                                        {{offer.contacts}}
                                    </li>
                                    <!-- <span class="nowrap">
                                        <i class="fa fa-lg fa-skype text-primary"></i> 40324309d
                                    </span> -->
                                </ul>
                            </td>
                            <!-- <td>
                                <span class="label label-success">4.5</span>
                            </td> -->
                            <!-- <td>
                                вся сумма
                            </td> -->
                            <td width="20%">
                                <span ng-repeat="type in offer.payment_types.split(',')">
                                    <span class="label label-info" ng-if="payment_types[type]">{{payment_types[type]}}</span>
                                    <span class="label label-info" ng-if="!payment_types[type]">{{type}}</span>

                                </span>
                            </td>
                            <td>
                                {{offer.location}}
                            </td>
                            <td>
                                {{offer.comment}}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <label 
                                        class="btn btn-sm btn-link popover-name favbtn" 
                                        ng-class="{active : is_fav(offer)}"
                                        ng-click="toggleFav(offer)"
                                    >
                                        <i class="fa fa-lg fa-star-o text-muted"></i>
                                    </label>
                                </div>
                            </td>
                        </tr>
                    
                    </tbody>
                </table>
            </div>
            <!-- <div class="navbar">
                <button class="btn btn-block btn-default navbar-btn">Загрузить еще 20</button>
            </div> -->
        </div></div></tab>
        <tab heading="Товары"><div class="panel"><div class="panel-body">
            <div class="navbar">
                <form>
                    <div class="collapse filter22">
                        <div class="row">

                            <div class="col-xs-7 col-sm-7">
                                <div class="form-group clearfix">
                                    <label class="col-xs-2 col-sm-2 required nopadding">География</label>
                                    <div class="col-xs-5 col-sm-5 nopadding">
                                        <input type="text" class="form-control" placeholder="страны" ng-model="goods_filter.country_keywords" ng-change="goodsFilterChange()">
                                    </div>
                                    <div class="col-xs-5 col-sm-5 nopadding" style="padding-left:5px">
                                        <input type="text" class="form-control" placeholder="города в странах" ng-model="goods_filter.city_keywords" ng-change="goodsFilterChange()">
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-5 col-sm-5">
                                <div class="row">
                                    <div class="col-xs-12 col-xs-1 col-sm-12">

                                        <div class="form-group clearfix">
                                            <label style="padding-left: 0" class="col-xs-6 col-sm-6 required text-right">
                                                Возраст заявки
                                            </label>
                                            <select 
                                                selectpicker 
                                                class="btn-sm col-xs-6 col-sm-6 nopadding"
                                                ng-model="goods_filter.interval"
                                                ng-options="item.key as item.value for item in goods_interval_values"
                                                ng-change="goodsFilterChange()"
                                            >
                                                
                                            </select>
                                        </div>

                                        <div class="form-group clearfix" ng-hide="hide_calendar">
                                            <label class="col-xs-3 col-sm-3 required text-right">Date</label>
                                            <div class="col-xs-9 col-sm-9 nopadding">
                                                <div class="hdatapicker">
                                                    <div class="input-daterange input-group">
                                                        <span class="input-group-addon">от</span>
                                                        <input 
                                                            type="text" 
                                                            class="input-sm form-control input-date" 
                                                            datepicker-popup="{{format}}" 
                                                            show-button-bar="false"
                                                            ng-model="goods_offer_date.start" 
                                                            is-open="gf_opened.start" 
                                                            datepicker-options="dateOptions" 
                                                            ng-required="true" 
                                                            ng-change="goodsFilterChange()"
                                                            close-text="Close" 
                                                            
                                                        />
                                                        <span class="input-group-addon" ng-click="gf_open($event,'start')"><i class="fa fa-calendar"></i></span>
                                                        <span class="input-group-addon">до</span>
                                                        <input 
                                                            type="text" 
                                                            class="input-sm form-control input-date" 
                                                            datepicker-popup="{{format}}" 
                                                            show-button-bar="false"
                                                            ng-model="goods_offer_date.end" 
                                                            is-open="gf_opened.end" 
                                                            datepicker-options="dateOptions" 
                                                            ng-required="true" 
                                                            ng-change="goodsFilterChange()"
                                                            close-text="Close" 
                                                        />
                                                        <span class="input-group-addon" ng-click="gf_open($event,'end')"><i class="fa fa-calendar"></i></span>
                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="form-group clearfix" style="margin-top: 30px;">
                                            <div class="collapse filter22">
                                                    <div class="col-xs-2 col-sm-2 nopadding"></div>
                                                    <div style="padding-right: 5px;" class="col-xs-5 col-sm-5">
                                                        <button type="button" class="btn btn-block btn-primary">Применить</button></div>
                                                    <div class="col-xs-5 col-sm-5 nopadding"><button type="button" class="btn btn-block btn-default">Очистить фильтр</button></div>
                                            </div>

                                        </div> -->


                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="row" style="margin-top: 15px;"></div>

                    </div>

                    <div class="row">

                        <div class="col-xs-4 col-sm-4">

                            <div class="btn-group btn-group-justified">
                                <label class="btn btn btn-primary" btn-radio="'all'" ng-model="goods_filter.offer_type" ng-change="goodsFilterChange()">
                                    Все
                                </label>
                                <label class="btn btn btn-primary" btn-radio="'sell'" ng-model="goods_filter.offer_type" ng-change="goodsFilterChange()">
                                    Предложение
                                </label>
                                <label class="btn btn btn-primary" btn-radio="'buy'" ng-model="goods_filter.offer_type" ng-change="goodsFilterChange()">
                                    Спрос
                                </label>
                            </div>

                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <div class="collapse filter22 close-filter">
                                <div class="btn-group"><button type="button" data-toggle="collapse" data-target=".filter22" class="btn btn-primary active"><i class="fa fa-chevron-up"></i> Фильтр</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 pull-right">
                            <input type="text" class="form-control" ng-model="goods_filter.keywords" ng-change="goodsFilterChange()" placeholder="найти текст">
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <div class="collapse in filter22">
                                <div class="btn-group"><button type="button" data-toggle="collapse" data-target=".filter22" class="btn btn-default"><i class="fa fa-chevron-down"></i> Фильтр</button></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <h5>Легенда - объяснить цвета: зеленый топ, желтое, серое и прочее</h5>

            <div class="table-responsive panel market-table-responsive">
                <table class="table table-condensed data-table table-hover">
                    <thead>
                    <tr>
                        <th>
                            <span class="nowrap">Возраст 
                                <i style="opacity:0.3" ng-click="order('timestamp','goods')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-timestamp','goods')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>
                        <th>
                            <span class="nowrap">Текст предложения 
                                <i style="opacity:0.3" ng-click="order('target','goods')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-target','goods')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>
                        <th>
                            <span class="nowrap">Цена, G
                                <i style="opacity:0.3" ng-click="order('amount_lui','goods')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-amount_lui','goods')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>
                        <th>
                            Контакт
                        </th>
                        <!-- <th>
                            <span class="nowrap">Рейтинг <i style="opacity:0.3" class="fa fa-chevron-down"></i></span>
                        </th> -->
                        <th>
                            <span class="nowrap">Место-е 
                                <i style="opacity:0.3" ng-click="order('location','goods')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-location','goods')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>
                        <th>
                            <span class="nowrap">Комментарий<span></span></span>
                        </th>
                        <th>
                        </th>
                    </tr>
                    </thead>

                    <tbody>

                        <tr ng-class="{'success':true, 'new':false, 'disable':false}" ng-repeat="offer in f_goods_offers">
                            <td>
                                {{offer.timestamp  | intToDate | date:'dd.MM.yy hh:mm'}}
                            </td>
                            <td>
                                {{offer.target}}
                            </td>
                            <td>
                                {{offer.amount_lui | gulden}}
                            </td>
                            <td>
                                {{offer.contacts}}
                            </td>
                            <!-- <td>
                                <span class="label label-success">4.5</span>
                            </td> -->
                            <td>
                                {{offer.location}}
                            </td>
                            <td>
                                {{offer.comment}}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <label 
                                        class="btn btn-sm btn-link popover-name favbtn" 
                                        ng-class="{active : is_fav(offer)}"
                                        ng-click="toggleFav(offer)"
                                    >
                                        <i class="fa fa-lg fa-star-o text-muted"></i>
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="navbar">
                <button class="btn btn-block btn-default navbar-btn">Загрузить еще 20</button>
            </div> -->
        </div></div></tab>
        <tab heading="Мои заявки"><div class="panel"><div class="panel-body">
            <div class="navbar">
                <div class="row margin-bottom-small">
                    <div class="col-xs-4 col-sm-4">
                        <div class="btn-group btn-group-justified">
                            <label class="btn btn-primary" ng-model="myOffersView" btn-radio="'currency'">
                                Валюта
                            </label>
                            <label class="btn btn-primary" ng-model="myOffersView" btn-radio="'barter'">
                                Товары
                            </label>
                        </div>
                    </div>

                    <!-- <div class="btn-group btn-group-justified">
                        <label class="btn btn btn-primary" btn-radio="'all'" ng-model="goods_filter.offer_type" ng-change="goodsFilterChange()">
                            Все
                        </label>
                        <label class="btn btn btn-primary" btn-radio="'sell'" ng-model="goods_filter.offer_type" ng-change="goodsFilterChange()">
                            Предложение
                        </label>
                        <label class="btn btn btn-primary" btn-radio="'buy'" ng-model="goods_filter.offer_type" ng-change="goodsFilterChange()">
                            Спрос
                        </label>
                    </div> -->

                    <div class="col-xs-4 col-sm-4"></div>

                    <div class="col-xs-4 col-sm-4 pull-right">
                        <input type="text" placeholder="найти текст" ng-model="my_offers_filter.keywords" ng-change="myOffersFilterChange()" class="form-control">
                    </div>

                </div>


                <div class="row">

                    <div class="col-xs-4 col-sm-4">
                        <div class="btn-group btn-group-justified">
                            <label class="btn btn-primary active" ng-model="my_offers_filter.offer_type" ng-change="myOffersFilterChange()" btn-radio="'all'">
                                Все
                            </label>
                            <label class="btn btn-primary" ng-model="my_offers_filter.offer_type" ng-change="myOffersFilterChange()" btn-radio="'buy'">
                                Предложение
                            </label>
                            <label class="btn btn-primary" ng-model="my_offers_filter.offer_type" ng-change="myOffersFilterChange()" btn-radio="'sell'">
                                Спрос
                            </label>
                        </div>
                    </div>

                </div>
            </div>


            <div class="table-responsive panel market-table-responsive" id="myCurrency" ng-show="myOffersView == 'currency'">
                <table class="table table-condensed data-table table-hover">
                    <thead>
                    <tr>

                        <th>
                            <span class="nowrap">Возраст 
                                <i style="opacity:0.3" ng-click="order('timestamp','my_currency')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-timestamp','my_currency')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>
                        
                        <th>
                            <span class="nowrap">Тип 
                                <i style="opacity:0.3" ng-click="order('is_income','my_currency')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-is_income','my_currency')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>
                        
                        <!-- <th>
                            <span class="nowrap">Курс, $ 
                                <i style="opacity:0.3" ng-click="order('timestamp','my_currency')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-timestamp','my_currency')" class="fa fa-chevron-up"></i>
                            </span>
                        </th> -->
                        
                        <th>
                            <span class="nowrap">Сумма, G 
                                <i style="opacity:0.3" ng-click="order('amount_lui','my_currency')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-amount_lui','my_currency')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>
                        
                        <th>Контакт</th>
                        <!--  <th><span class="nowrap">Рейтинг <i class="fa fa-chevron-down" style="opacity:0.3"></i></span></th> -->
                        <!-- <th><span class="nowrap">Условия<i class="fa fa-chevron-down" style="opacity:0.3"></i></span></th> -->
                        <th>
                            <span class="nowrap">Рассчет
                                <i style="opacity:0.3" ng-click="order('payment_types','my_currency')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-payment_types','my_currency')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>
                        
                        <th>
                            <span class="nowrap">Местор-е
                                <i style="opacity:0.3" ng-click="order('location','my_currency')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-location','my_currency')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>
                        
                        <th>
                            <span class="nowrap">Комментарий<span></span></span>
                        </th>
                        
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{'success':true, 'new':false, 'disable':false}" ng-repeat="offer in f_my_currency_offers">

                            <td>{{offer.timestamp  | intToDate | date:'dd.MM.yy hh:mm'}}</td>
                            <td>
                                <span ng-if="offer.offer_type == 2">Покупка</span>
                                <span ng-if="offer.offer_type == 3">Продажа</span>
                            </td>

                            <!-- <td><span class="nowrap"></span></td> -->

                            <td>
                                {{offer.amount_lui | gulden : false }} <!-- <span class="label label-danger">+ 2%</span> -->
                            </td>

                            <td>{{offer.contacts}}</td>
                            <!-- <td><span class="label label-success">4.5</span></td> -->
                            <!-- <td>вся сумма</td> -->
                            <td width="20%">
                                <span ng-repeat="type in offer.payment_types.split(',')">
                                    <span class="label label-info" ng-if="payment_types[type]">{{payment_types[type]}}</span>
                                    <span class="label label-info" ng-if="!payment_types[type]">{{type}}</span>
                                </span>
                            </td>

                            <td>{{offer.location}}</td>
                            <td>{{offer.comment}}</td>
                            <td>
                                <!-- <div class="btn-group nowrapbtns">
                                <button type="button" class="btn btn-link" data-target="#toptoupCurr" data-toggle="modal"><i class="fa fa-lg fa-arrow-circle-up text-muted"></i></button><button type="button" data-target="#orderCurr" data-toggle="modal" class="btn btn-link"><i class="fa fa-lg fa-edit text-muted"></i></button>
                                </div> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive panel market-table-responsive" id="myBarter" ng-show="myOffersView == 'barter'">

                <table class="table table-condensed data-table table-hover">
                    <thead>
                        <tr>

                            <th>
                                <span class="nowrap">Возраст 
                                    <i style="opacity:0.3" ng-click="order('timestamp','my_goods')" class="fa fa-chevron-down"></i>
                                    <i style="opacity:0.3" ng-click="order('-timestamp','my_goods')" class="fa fa-chevron-up"></i>
                                </span>
                            </th>
                            
                            <th>
                                <span class="nowrap">Тип 
                                    <i style="opacity:0.3" ng-click="order('is_income','my_goods')" class="fa fa-chevron-down"></i>
                                    <i style="opacity:0.3" ng-click="order('-is_income','my_goods')" class="fa fa-chevron-up"></i>
                                </span>
                            </th>
                            
                            <th>Текст предложения</th>
                            
                            <th>
                                <span class="nowrap">Цена, G
                                    <i style="opacity:0.3" ng-click="order('amount_lui','my_goods')" class="fa fa-chevron-down"></i>
                                    <i style="opacity:0.3" ng-click="order('-amount_lui','my_goods')" class="fa fa-chevron-up"></i>
                                </span>
                            </th>
                            
                            <th>Контакт</th>
                            <!-- <th><span class="nowrap">Рейтинг <i style="opacity:0.3" class="fa fa-chevron-down"></i></span></th> -->
                            
                            <th>
                                <span class="nowrap">Место-е 
                                    <i style="opacity:0.3" ng-click="order('location','my_goods')" class="fa fa-chevron-down"></i>
                                    <i style="opacity:0.3" ng-click="order('-location','my_goods')" class="fa fa-chevron-up"></i>
                                </span>
                            </th>
                            
                            <th>
                                <span class="nowrap">Комментарий</span>
                            </th>

                            <th></th>

                        </tr>
                    </thead>

                    <tbody>
                    <tr ng-class="{'success':true, 'new':false, 'disable':false}" ng-repeat="offer in f_my_goods_offers">

                        <td>{{offer.timestamp  | intToDate | date:'dd.MM.yy hh:mm'}}</td>
                        <td>
                            <span ng-if="offer.offer_type == 0">Покупка</span>
                            <span ng-if="offer.offer_type == 1">Продажа</span>
                        </td>

                        <td>
                            <!-- <a href=""> -->
                                {{offer.target}}
                                <!-- <span class="text-muted">...</span> -->
                            <!-- </a> -->
                        </td>

                        <td>{{offer.amount_lui | gulden}}</td>

                        <td>
                            {{offer.contacts}}
                        </td>

                        <!-- <td><span class="label label-success">4.5</span></td> -->

                        <td>{{offer.location}}</td>

                        <td>{{offer.comment}}</td>

                        <td>

                            <div class="btn-group nowrapbtns">
                                <!-- <button type="button" class="btn btn-link" data-target="#toptoupBarter" data-toggle="modal">
                                    <i class="fa fa-lg fa-arrow-circle-up text-muted"></i>
                                </button> -->
                                <button type="button" ng-click="cancelOffer(offer)" class="btn btn-link">
                                    <i class="fa fa-lg fa-remove text-muted"></i>
                                </button>
                            </div>

                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div></div></tab>


        <tab heading="Избранное" ><div class="panel"><div class="panel-body">
            <div class="navbar">
                <div class="row margin-bottom-small">
                    <div class="col-xs-4 col-sm-4">
                        <div class="btn-group btn-group-justified">
                            <label class="btn btn-primary" ng-model="favOffersView" btn-radio="'currency'">
                                Валюта
                            </label>
                            <label class="btn btn-primary" ng-model="favOffersView" btn-radio="'barter'">
                                Товары
                            </label>
                        </div>
                    </div>


                    <div class="col-xs-4 col-sm-4"></div>

                    <div class="col-xs-4 col-sm-4 pull-right">
                        <input type="text" placeholder="найти текст" ng-model="fav_offers_filter.keywords" ng-change="favOffersFilterChange()" class="form-control">
                    </div>

                </div>


                <div class="row">

                    <div class="col-xs-4 col-sm-4">
                        <div class="btn-group btn-group-justified">
                            <label class="btn btn-primary active" ng-model="fav_offers_filter.offer_type" ng-change="favOffersFilterChange()" btn-radio="'all'">
                                Все
                            </label>
                            <label class="btn btn-primary" ng-model="fav_offers_filter.offer_type" ng-change="favOffersFilterChange()" btn-radio="'buy'">
                                Предложение
                            </label>
                            <label class="btn btn-primary" ng-model="fav_offers_filter.offer_type" ng-change="favOffersFilterChange()" btn-radio="'sell'">
                                Спрос
                            </label>
                        </div>
                    </div>

                </div>
            </div>


            <div class="table-responsive panel market-table-responsive" ng-show="favOffersView == 'currency'">
                <table class="table table-condensed data-table table-hover">
                    <thead>
                    <tr>

                        <th>
                            <span class="nowrap">Возраст 
                                <i style="opacity:0.3" ng-click="order('timestamp','fav_currency')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-timestamp','fav_currency')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>

                        <th>
                            <span class="nowrap">Тип 
                                <i style="opacity:0.3" ng-click="order('is_income','fav_currency')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-is_income','fav_currency')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>

                        <!-- <th>
                            <span class="nowrap">Курс, $ 
                                <i style="opacity:0.3" ng-click="order('location','fav_currency')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-location','fav_currency')" class="fa fa-chevron-up"></i>
                            </span>
                        </th> -->

                        <th>
                            <span class="nowrap">Сумма, G 
                                <i style="opacity:0.3" ng-click="order('amount_lui','fav_currency')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-amount_lui','fav_currency')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>

                        <th>Контакт</th>

                        <th>
                            <span class="nowrap">Рассчет
                                <i style="opacity:0.3" ng-click="order('payment_types','fav_currency')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-payment_types','fav_currency')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>

                        <th>
                            <span class="nowrap">Местор-е
                                <i style="opacity:0.3" ng-click="order('location','fav_currency')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-location','fav_currency')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>
                        
                        <th>
                            <span class="nowrap">Комментарий<span></span></span>
                        </th>

                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{'success':true, 'new':false, 'disable':false}" ng-repeat="offer in f_fav_currency_offers">

                            <td>{{offer.timestamp  | intToDate | date:'dd.MM.yy hh:mm'}}</td>
                            <td>
                                <span ng-if="offer.offer_type == 2">Покупка</span>
                                <span ng-if="offer.offer_type == 3">Продажа</span>
                            </td>

                            <td>
                                <span class="nowrap">{{offer.amount_etc}} {{offer.target}}</span>
                            </td>
                            <td>
                                {{offer.amount_lui | gulden:false}} <!-- <span class="label label-danger">+ 2%</span> -->
                            </td>

                            <td>{{offer.contacts}}</td>
                            
                            <td width="20%">
                                <span ng-repeat="type in offer.payment_types.split(',')">
                                    <span class="label label-info" ng-if="payment_types[type]">{{payment_types[type]}}</span>
                                    <span class="label label-info" ng-if="!payment_types[type]">{{type}}</span>

                                </span>
                            </td>

                            <td>{{offer.location}}</td>
                            <td>{{offer.comment}}</td>
                            <td>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive panel market-table-responsive" ng-show="favOffersView == 'barter'">

                <table class="table table-condensed data-table table-hover">
                    <thead>
                    <tr>

                        <th  class="col-sm-1">
                            <span class="nowrap">Возраст 
                                <i style="opacity:0.3" ng-click="order('timestamp','fav_goods')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-timestamp','fav_goods')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>

                        <th  class="col-sm-1">
                            <span class="nowrap">Тип 
                                <i style="opacity:0.3" ng-click="order('is_income','fav_goods')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-is_income','fav_goods')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>

                        <th class="col-sm-2">Текст предложения</th>

                        <th  class="col-sm-2">
                            <span class="nowrap">Цена, G
                                <i style="opacity:0.3" ng-click="order('amount_lui','fav_goods')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-amount_lui','fav_goods')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>
                        
                        <th class="col-sm-2">Контакт</th>

                        <th class="col-sm-2">
                            <span class="nowrap">Место-е 
                                <i style="opacity:0.3" ng-click="order('location','fav_goods')" class="fa fa-chevron-down"></i>
                                <i style="opacity:0.3" ng-click="order('-location','fav_goods')" class="fa fa-chevron-up"></i>
                            </span>
                        </th>

                        <th class="col-sm-2">
                            <span class="nowrap">Комментарий</span>
                        </th>

                        <!-- <th></th> -->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-class="{'success':true, 'new':false, 'disable':false}" ng-repeat="offer in f_fav_goods_offers">

                        <td>{{offer.timestamp  | intToDate | date:'dd.MM.yy hh:mm'}}</td>
                        <td>
                            <span ng-if="offer.offer_type == 0">Покупка</span>
                            <span ng-if="offer.offer_type == 1">Продажа</span>
                        </td>

                        <td>
                            {{offer.target}}
                        </td>

                        <td>{{offer.amount_lui | gulden}}</td>

                        <td>
                            {{offer.contacts}}
                        </td>


                        <td>{{offer.location}}</td>

                        <td>{{offer.comment}}</td>

                       <!--  <td>

                        </td> -->

                    </tr>
                    </tbody>
                </table>
            </div>
        </div></div></tab>
    </tabset>

    <hr>
    <div class="footer">
        <p class="small text-muted">
            Текст о том что пользователи сами берут на себя ответственность за свои заявки и исполнение обязательств по ним, текст о том что пользователи сами берут на себя ответственность за свои заявки и исполнение обязательств по ним.
        </p>
    </div>
</div>