<div class="modal-header btn btn-primary btn-block">
    <!-- <button type="button" class="close" data-dismiss="modal" ng-click="close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button> -->
    <h4 class="modal-title text-center">Введите пароль для входа в приложение</h4>
</div>
<div class="modal-body">
    <form name="app_pass_form" novalidate >
        <div class="form-group">
            <input id="create-safe_safe-name-input" ng-model="pass" type="password" required name="app_pass" class="input-lg form-control">
        </div>
        <div class="form-group">
            <div class="help-block">Пожалуйста, введите пароль для входа в приложение</div>
        </div>
        <div class="row" ng-if="canReset">
            <div class="col-xs-4 col-sm-4">
                <a class="btn btn-default btn-block btn-lg" type="button" href="" ng-disabled="!app_pass_form.app_pass.$valid" ng-click="submit(pass)"> Продолжить</a>
            </div>
            <div class="col-xs-4 col-sm-4" ng-if="canCancel">
                <a class="btn btn-default btn-block btn-lg" type="button" href="" ng-click="cancel()"> Отменить</a>
            </div>
            <div class="col-xs-4 col-sm-4">
                <a class="btn btn-default btn-block btn-lg" type="button" href="" ng-click="reset()"> Переустановить</a>
            </div>
        </div>
        <div class="row"  ng-if="!canReset">
            <div class="col-xs-6 col-sm-6">
                <a class="btn btn-default btn-block btn-lg" type="button" href="" ng-disabled="!app_pass_form.app_pass.$valid" ng-click="submit(pass)"> Продолжить</a>
            </div>
            <div class="col-xs-6 col-sm-6" ng-if="canCancel">
                <a class="btn btn-default btn-block btn-lg" type="button" href="" ng-click="cancel()"> Отменить</a>
            </div>
        </div>
    </form>
</div>


