    <nav role="navigation" class="navbar btns">

        <ul class="nav nav-pills nav-justified">
            <li>
                <a href="sendG.html" class="btn btn-default"> Отправить гульдены</a>

            </li>
            <li>
                <a href="buyG.html" class="btn btn-default">Купить гульдены</a>
            </li>
            <li>
                <a class="btn btn-default" href="sellG.html">Продать гульдены</a>
            </li>
            <li>
                <a data-toggle="dropdown" class="btn btn-default dropdown" aria-expanded="false">Купить/Продать товар
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="buyProduct.html">Купить товар за гульдены</a></li>
                    <li><a href="sellProduct.html">Продать товар за гульдены</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="form-horizontal">
        <div class="tabs">
            <div class="startbox" id="safestatus">
                <div class="panel">

                    <div class="panel-body">

                        <h4><i class="fa fa-2x fa-circle-o-notch fa-spin"></i>Состояние сейфа</h4>
                    </div>
                </div>
            </div>
            <div class="startbox" id="safeinfo">
                <div class="panel">

                    <div class="panel-body">

                        <h4><i class="gu gu-3x  gu-safe"></i>Информация о сейфе</h4>
                    </div>
                </div>
            </div>
            <div id="safehistiry" class="startbox">
                <div class="panel">

                    <div class="panel-body">

                        <h4><i class="gu gu-3x  gu-money"></i>История платежей сейфа</h4>
                    </div>
                </div>
            </div>
            <div id="safemaining" class="startbox">
                <div class="panel">

                    <div class="panel-body">

                        <h4><i class="gu gu-3x  gu-increasing"></i>График добычи сейфа</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <div class="footer">


    </div>
