

    <div class="form-horizontal">
        <div class="tabs">
            <div class="startbox" id="safestatus">
                <div class="panel">

                    <div class="panel-body">

                        <h4><i class="fa fa-2x fa-circle-o-notch fa-spin"></i>Состояние сейфа</h4>
                    </div>
                </div>
            </div>
            <div class="startbox" id="safeinfo">
                <div class="panel">

                    <div class="panel-body">

                        <h4><i class="gu gu-3x  gu-safe"></i>Информация о сейфе</h4>
                    </div>
                </div>
            </div>
            <div id="safehistiry" class="startbox">
                <div class="panel">

                    <div class="panel-body">

                        <h4><i class="gu gu-3x  gu-money"></i>История платежей сейфа</h4>
                    </div>
                </div>
            </div>
            <div id="safemaining" class="startbox">
                <div class="panel">

                    <div class="panel-body">

                        <h4><i class="gu gu-3x  gu-increasing"></i>График добычи сейфа</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <div class="footer">


    </div>
