<h1>Сейфы</h1>
<h5>Здесь Вы можете просмотреть список всех сейфов</h5>

<div class="tabs" ng-controller="safeListCtrl">
    
    <div class="navbar">
        <div class="row">
            <div class="col-xs-5 col-sm-5" ng-controller="safeModals">
                <div class="btn-group"><button  ng-disabled="deamon_state.daemon_network_state != 2" class="btn btn-primary safes_create-safe-button" ng-click="openSafeForm();" type="button">Создать сейф</button></div>
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-info dropdown-toggle" dropdown-toggle  ng-disabled="deamon_state.daemon_network_state != 2">
                        Восстановить сейф <span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li><a class="safes_open-safe-button" ng-click="openFileDialog();" type="button">Открыть файл-сейф</a></li>
                        <li><a  ng-click="openSmartSafeRestoreForm()" type="button">Восстановить из smartsafe</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-xs-7 col-sm-7">
                <div class="pull-right col-xs-5 col-sm-5">
                    <form>
                        <input type="text" class="form-control" placeholder="найти" ng-model="filter.name" ng-change="filterChange()">
                    </form>
                </div>

                <div class="pull-right col-xs-7 col-sm-7">
                    <div class="btn-toolbar pull-right">
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="safeView" btn-radio="'list'"><i class="fa fa-list"></i> Списком</label>
                            <label class="btn btn-primary" ng-model="safeView" btn-radio="'blocks'"><i class="fa fa-th"></i> Блоками</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div collapse="safeView != 'list'">
        <div class="table-responsive panel">
            <table class="table table-condensed table-hover data-table safes-table">
                <thead>
                <tr>
                    <th class="col-sm-3">
                        <span class="nowrap">Сейф 
                            <i class="fa fa-chevron-down" ng-click="order('name')" style="opacity:0.3"></i>
                            <i class="fa fa-chevron-up" ng-click="order('-name')" style="opacity:0.3"></i>
                        </span>
                    </th>
                    <th class="col-sm-2">
                        <span class="nowrap">Счет сейфа 
                            <i class="fa fa-chevron-down" ng-click="order('address')" style="opacity:0.3"></i>
                            <i class="fa fa-chevron-up" ng-click="order('-address')" style="opacity:0.3"></i>
                        </span>
                    </th>
                    <th class="col-sm-2">
                        <span class="nowrap">Состояние 
                            
                        </span>
                    </th>
                    <th class="col-sm-2">
                        <span class="nowrap">Доступно
                            <i class="fa fa-chevron-down" ng-click="order('unlocked_balance')" style="opacity:0.3"></i>
                            <i class="fa fa-chevron-up" ng-click="order('-unlocked_balance')" style="opacity:0.3"></i>
                        </span>
                    </th>
                    <th class="col-sm-2">
                        <span class="nowrap">Баланс 
                            <i class="fa fa-chevron-down" ng-click="order('balance')" style="opacity:0.3"></i>
                            <i class="fa fa-chevron-up" ng-click="order('-balance')" style="opacity:0.3"></i>
                        </span>
                    </th>
                    <th class="col-sm-1"></th>
                </tr>
            </thead>

                <tbody>
                    <tr ng-if="!safes.length">
                        <td colspan="6">Нет записей</td>
                    </tr>
                    <tr ng-repeat="safe in f_safes" ng-class="{'danger' : safe.error}">
                        <td>
                            ({{safe.wallet_id}})
                            <i class="fa fa-spinner fa-pulse" ng-hide="safe.loaded"></i>
                            <a class="btn btn-link" href="#safe/{{safe.wallet_id}}">
                                <big>{{safe.name}}</big>
                            </a>
                            <button type="button" class="btn btn-link popover-name" data-trigger="hover" data-toggle="popover"  data-content="Сейф зашифрован">
                                <i class="fa fa-1x fa-lock text-primary"></i>
                            </button>
                            <span  ng-repeat="alias in aliases | filter : {address: safe.address}"><span class="label label-info">@{{alias.alias}}</span><span>
                        </td>

                        <td>
                            <div class="dropdown" dropdown auto-close="outsideClick">
                                <button aria-expanded="false" dropdown-toggle class="btn btn-link dropdown-toggle" type="button">
                                    <span class="account-text">
                                        <span class="text-muted"> 
                                            <span style="color:#999">
                                                {{safe.address}}
                                            </span>
                                        </span>
                                        <span class="moredots">...<span class="caret"></span></span>
                                    </span>
                                </button>
                                <div role="menu" class="dropdown-menu dropdown-menu-left">
                                    <div style="padding:10px">
                                        <ul class="list-unstyled">
                                            <li>
                                                <div class="contractor">
                                                    <!-- <button style="position:absolute; bottom:0; right:0" class="btn btn-sm btn-default pull-right">
                                                        скопировать
                                                    </button> -->
                                                    <pre class="safe-number" style="height:60px">{{safe.address}}</pre>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td>
                            <ul class="list-unstyled">
                                <li class="label-icon" ng-if="safe.is_mining">
                                    <em>Добыча</em> 
                                    <span class="label label-success">
                                        <i class="gu gu-2x gu-pick"></i>
                                    </span>
                                </li>
                                <li class="text-warning" ng-hide="safe.loaded">
                                    <em>Загружается</em>
                                    <div easypiechart options="pieChartoptions" class="chart send-timer" percent="safe.progress"></div>
                                </li>
                            </ul>
                        </td>

                        <td>
                            <strong><big>{{safe.unlocked_balance | gulden}}<big></big></big></strong>
                        </td>

                        <td>
                            <strong><big>{{safe.balance | gulden}}<big></big></big></strong>
                        </td>

                        <td>
                            <div class="btn-group navbar-btn" dropdown>
                                <button aria-expanded="false" ng-disabled="!safe.loaded" dropdown-toggle class="btn btn-default dropdown-toggle" type="button">
                                    <i class="fa fa-gear"></i> <span class="caret"></span>
                                </button>
                                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#sendG/{{safe.wallet_id}}">Отправить гульдены</a></li>

                                    <li><a href="#addGOfferSell">Продать гульдены</a></li>
                                    <li><a href="#addGOfferBuy">Купить гульдены</a></li>

                                    <li ng-if="!safe.is_mining"><a disabled-link="!deamon_state.is_pos_allowed || safe.balance==0" ng-click="startMining(safe.wallet_id)">Начать добычу</a></li>
                                    <li ng-if="safe.is_mining"><a href="" ng-click="stopMining(safe.wallet_id)">Остановить добычу</a></li>

                                    <li class="divider"></li>
                                    <li><a href="" ng-click="registerAlias(safe)">Присвоить алиас</a></li>
                                    <li><a href="" ng-click="closeWallet(safe.wallet_id)">Отключить сейф</a></li>
                                    <li><a href="" ng-click="safeBackup(safe)">Сделать бекап</a></li>
                                    <li>
                                        <a ng-click="openSmartSafeForm(safe)">Создать Smartsafe</a>
                                    </li>
                                    <li><a href="" ng-click="resynch(safe.wallet_id)">Синхронизировать</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div collapse="safeView != 'blocks'">
        <div class="row">
            <div class="col-xs-6 col-xs-6 col-sm-6 safebox" ng-repeat="safe in f_safes">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="btn-group navbar-btn pull-right" dropdown>
                            <button aria-expanded="false" dropdown-toggle class="btn btn-default dropdown-toggle" type="button">
                                Операции <span class="caret"></span>
                            </button>
                            <ul role="menu" class="dropdown-menu dropdown-menu-right">
                                <li><a href="#sendG/{{safe.wallet_id}}">Отправить гульдены</a></li>

                                <li><a href="#addGOfferSell">Продать гульдены</a></li>
                                <li><a href="#addGOfferBuy">Купить гульдены</a></li>

                                <li ng-if="!safe.is_mining"><a disabled-link="!deamon_state.is_pos_allowed || safe.balance==0" href="" ng-click="startMining(safe.wallet_id)">Начать добычу</a></li>
                                <li ng-if="safe.is_mining"><a href="" ng-click="stopMining(safe.wallet_id)">Остановить добычу</a></li>

                                <li class="divider"></li>
                                <li><a href="" ng-click="registerAlias(safe)">Присвоить алиас</a></li>
                                <li><a href="" ng-click="closeWallet(safe.wallet_id)">Отключить сейф</a></li>
                                <li><a href="" ng-click="safeBackup(safe)">Сделать бекап</a></li>
                                <li>
                                    <a ng-click="openSmartSafeForm(safe)">Создать Smartsafe</a>
                                </li>
                                <li><a href="" ng-click="resynch(safe.wallet_id)">Синхронизировать</a></li>
                            </ul>
                        </div>

                        <a href="#safe/{{safe.wallet_id}}" class="btn btn-link">
                            <big>{{safe.name}}</big>
                        </a>

                        <button type="button" class="btn btn-link popover-name" data-trigger="hover" data-toggle="popover"  data-content="Сейф зашифрован">
                            <i class="fa fa-1x fa-lock text-primary"></i>
                        </button>

                        <div class="dropdown" dropdown auto-close="outsideClick">
                            <button aria-expanded="false" type="button" class="btn btn-link dropdown-toggle" dropdown-toggle >
                                <span class="account-text">
                                    <span class="text-muted"> 
                                        <span style="color:#999">
                                            {{safe.address}}
                                        </span>
                                    </span>
                                    <span class="moredots">...<span class="caret"></span></span>
                                </span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-left" role="menu">
                                <div style="padding:10px">
                                    <ul class="list-unstyled">
                                        <li>
                                            <div class="contractor">
                                               <!--  <button class="btn btn-sm btn-default pull-right" style="position:absolute; bottom:0; right:0">
                                                    скопировать
                                                </button> -->
                                                <pre style="height:60px" class="safe-number">{{safe.address}}</pre>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div>
                            <span  ng-repeat="alias in aliases | filter : {address: safe.address}">
                                <span class="label label-info">@{{alias.alias}}</span> 
                            <span>
                        </div>

                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-9 col-sm-9">
                               <!--  <ul class="list-unstyled">

                                    <li class="text-info">
                                        Ожидается:  <em>0,20 G</em>  <span class="chart receive-timer" data-percent="86">
                                    </li>
                                </ul> -->
                                <div class="balance">Баланс: {{safe.balance | gulden}} </div>
                                <div class="balance">Доступно: {{safe.unlocked_balance | gulden}} </div>
                            </div>
                            <div class="col-xs-3 col-sm-3">
                                <div class="coins">
                                    <img class="img-responsive" src="assets/img/coins24.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    </div>


    <div class="tab-content nopadding">
        <div class="tab-pane list-view">
            
        </div>

        
    </div>
    <div class="navbar"></div>
</div>
<hr>
<div class="footer"></div>