

    <div class="form-horizontal" ng-controller="safeDetailsCtrl">
        <div class="tabs">
            <div class="panel panel-default panel-transparent">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-9 col-sm-9">

                            <h2 style="margin:0 0 5px;">
                                <span class="pull-right">{{safe.balance | gulden}}</span> 
                                {{safe.name}} 
                                <button data-content="Сейф зашифрован" data-toggle="popover" data-trigger="hover" class="btn btn-link popover-name" type="button" data-original-title="" title=""><i class="fa fa-1x fa-lock text-primary"></i></button>
                            </h2>

                            <span  ng-repeat="alias in aliases | filter : {address: safe.address}"><span class="label label-info">@{{alias.alias}}</span>&nbsp;</span>

                            <div style="position: relative; margin: 15px 0px 0px;" class="rel">
                                <!-- <button style="position:absolute; bottom:0; right:0" class="btn btn-sm btn-default pull-right">скопировать</button> -->
                                <pre class="safe-number" style="height:60px">{{safe.address}}</pre>
                            </div>

                            <h4><a href="#" type="button" data-toggle="collapse" data-target=".collapse00"><span>Состояние</span></a></h4>

                            <div class="form-group nomargin">
                                <label class="col-xs-4 col-sm-4 control-label">Общее количество средств</label>
                                <div class="col-xs-4 col-sm-4"><div class="help-block required">{{safe.balance | gulden}}</div></div>
                            </div>
                            <div class="form-group nomargin">
                                <label class="col-xs-4 col-sm-4 control-label">Доступно для платежей</label>
                                <div class="col-xs-4 col-sm-4"><div class="help-block required">{{safe.unlocked_balance | gulden}}</div></div>
                            </div>
                            <div class="form-group nomargin">
                                <label class="col-xs-4 col-sm-4 control-label">Ожидается</label>
                                <div class="col-xs-8 col-sm-8"><div class="help-block required">-- <span class="chart receive-timer" data-percent="86"></span></div>
                                </div>

                                <div class="col-xs-4 col-sm-4"></div>
                            </div>
                            <div class="form-group nomargin">
                                <label class="col-xs-4 col-sm-4 control-label">Отправляется</label>
                                <div class="col-xs-4 col-sm-4"><div class="help-block required">-- </div></div>
                            </div>
                            <div class="form-group nomargin">
                                <label class="col-xs-4 col-sm-4 control-label">Размещено в добычу</label>
                                <div class="col-xs-4 col-sm-4"><div class="help-block required">-- </div></div>
                            </div>


                        </div>
                        <div class="col-xs-3 col-sm-3">
                            
                            <div class="clearfix">
                                <div class="pull-right btn-toolbar">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            Операции <span class="caret"></span>
                                        </button>
                                        <ul role="menu" class="dropdown-menu dropdown-menu-right">
                                            <li><a href="#sendG/{{safe.wallet_id}}">Отправить гульдены</a></li>

                                            <li><a href="#addGOfferSell">Продать гульдены</a></li>
                                            <li><a href="#addGOfferBuy">Купить гульдены</a></li>

                                            <li ng-if="!safe.is_mining"><a disabled-link="!deamon_state.pos_allowed" href="" ng-click="startMining(safe.wallet_id)">Начать добычу</a></li>
                                            <li ng-if="safe.is_mining"><a href="" ng-click="stopMining(safe.wallet_id)">Остановить добычу</a></li>

                                            <li class="divider"></li>
                                            <li><a href="" ng-click="registerAlias(safe)">Присвоить алиас</a></li>
                                            <li><a href="" ng-click="closeWallet(safe.wallet_id)">Отключить сейф</a></li>
                                            <li><a href="" ng-click="safeBackup(safe)">Сделать бекап</a></li>
                                            <li><a href="" ng-click="resynch(safe.wallet_id)">Синхронизировать</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div style="margin:160px 0 0" class="coins">
                                <img src="assets/img/coins24.svg" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel" id="information">
                <div class="panel-body">
                    <h4><a href="#" type="button" data-toggle="collapse" data-target=".collapse000"><span>Информация</span></a></h4>
                    <div class="collapse in collapse000">
                        
                        <div class="form-group has-feedback group-hover inline-edit-field">
                            <label class="col-xs-4 col-sm-4 control-label">Имя сейфа</label>
                            <div class="col-xs-8 col-sm-8">
                                <input type="text" class="form-control flat-input" ng-model="safe.name">
                                <i class="fa fa-lg fa-pencil-square form-control-feedback"></i>
                            </div>
                        </div>

                        <div class="form-group has-feedback inline-edit-field">
                            <label class="col-xs-4 col-sm-4 control-label">Пароль</label>
                            <div class="col-xs-4 col-sm-4">
                                <input type="password" class="form-control flat-input" value="sfdsv998jk98ML" disabled="">
                            </div>
                            <div class="col-xs-4 col-sm-4 text-right">
                                <button type="button" class="btn btn-default" ng-click="safeChangePass()">
                                    <i class="fa fa-lg fa-edit"></i>  Изменить
                                </button>
                            </div>
                        </div>

                        <div class="form-group inline-edit-field">
                            <div class="col-xs-8 col-sm-8 col-sm-offset-4">
                                <div class="help-block">
                                    Восстановить пароль нельзя. Если вы потеряли пароль, сейф нужно отключить. Восстановить сейф и баланс на нем, 
                                    <strong>но не контакты и историю платежей</strong> можно из бекапа файла сейфа, от которого вы знаете пароль
                                </div>
                            </div>
                        </div>

                        <div class="form-group inline-edit-field">
                            <label class="col-xs-4 col-sm-4 control-label">Счет</label>
                            <div class="col-xs-8 col-sm-8">
                                <div style="position:relative" class="rel">
                                    <!-- <button style="position:absolute; bottom:0; right:0" class="btn btn-sm btn-default pull-right">скопировать</button> -->
                                    <pre class="safe-number" style="height:60px">{{safe.address}}</pre>
                                </div>
                            </div>
                        </div>

                        <div class="form-group inline-edit-field">
                            <label class="col-xs-4 col-sm-4 control-label">Алиасы</label>
                            <div class="col-xs-8 col-sm-8">
                                <div class="btn-toolbar">
                                    
                                    <div class="btn-group" ng-repeat="alias in aliases | filter : {address: safe.address}">
                                        <button class="btn btn-sm btn-info" type="button">
                                            @{{alias.alias}}  <i class="fa fa-lg fa-long-arrow-right"></i>
                                        </button>
                                    </div>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-warning" ng-click="registerAlias(safe)">
                                            <i class="fa fa-lg fa-plus"></i> Присвоить новый алиас
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group inline-edit-field">
                            <label class="col-xs-4 col-sm-4 control-label">Дата открытия</label>
                            <div class="col-xs-4 col-sm-4"><div class="help-block">20.01.14 23:34</div></div>
                        </div>
                        <div class="form-group inline-edit-field">
                            <label class="col-xs-4 col-sm-4 control-label">Brainwallet</label>
                            <div class="col-xs-4 col-sm-4"><div class="help-block">Создан 20.01.14 23:34 <i class="fa fa-check text-success"></i></div></div>
                        </div>
                        <div class="form-group inline-edit-field">
                            <label class="col-xs-4 col-sm-4 control-label">Бекап файла</label>
                            <div class="col-xs-8 col-sm-8"><div class="help-block">Подтвержден 20.01.14 23:36 <i class="fa fa-check text-success"></i></div></div>
                        </div> -->
                    </div>



                </div>
            </div>
            <div class="panel">
                <div class="panel-body">

                    <h4><a data-target=".collapse2" data-toggle="collapse" type="button" href="#">  <span>История платежей</span></a></h4>
                    <disv class="collapse in collapse2">

                        <div class="navbar-collapse navbar-tabs collapse" id="navbar-tabs">
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="form-group clearfix">
                                            <label class="control-label required col-xs-4 col-sm-4">Период</label>
                                            <select 
                                                class="col-xs-8 col-sm-8 history_period-selector" 
                                                selectpicker 
                                                style="width:100%"
                                                ng-model="filter.interval"
                                                ng-change="filterChange()"
                                                ng-options="item.key as item.value for item in interval_values"
                                            >
                                            </select>
                                        </div>
                                        <div class="form-group" ng-hide="hide_calendar">
                                            <label class="control-label col-xs-4 col-sm-4 required">Дата</label>
                                            <div class="col-xs-8 col-sm-8">
                                                <div class="hdatapicker">
                                                    <div class="input-daterange input-group" id="datepicker">
                                                        <span class="input-group-addon">от</span>
                                                        <input 
                                                            type="text" 
                                                            class="input-sm form-control" 
                                                            datepicker-popup="{{format}}" 
                                                            show-button-bar="false"
                                                            ng-model="tx_date.start" 
                                                            is-open="opened_start" 
                                                            datepicker-options="dateOptions" 
                                                            date-disabled="disabled(date, mode)" 
                                                            ng-required="true" 
                                                            ng-change="filterChange()"
                                                            close-text="Close" 
                                                            
                                                        />
                                                        <span class="input-group-addon" ng-click="open($event,'start')"><i class="fa fa-calendar"></i></span>
                                                        <span class="input-group-addon">до</span>
                                                        <input 
                                                            type="text" 
                                                            class="input-sm form-control" 
                                                            datepicker-popup="{{format}}" 
                                                            show-button-bar="false"
                                                            ng-model="tx_date.end" 
                                                            is-open="opened_end" 
                                                            datepicker-options="dateOptions" 
                                                            date-disabled="disabled(date, mode)" 
                                                            ng-required="true" 
                                                            ng-change="filterChange()"
                                                            close-text="Close" 
                                                        />
                                                        <span class="input-group-addon" ng-click="open($event,'end')"><i class="fa fa-calendar"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="col-xs-6 col-sm-6 control-label required">Состояние</label>
                                            <select 
                                                class="col-xs-6 col-sm-6" 
                                                selectpicker 
                                                ng-model="filter.is_anonim"
                                                ng-change="filterChange()"
                                                ng-options="item.key as item.value for item in is_anonim_values"
                                            >
                                            </select>
                                        </div>
                                        <!-- <div class="form-group">
                                            <div class="col-xs-8 col-sm-8 col-sm-offset-4">
                                                <label class="checkbox"><input type="checkbox" value=""> <strong>Скрыть доход от добычи</strong></label>
                                            </div>
                                        </div> -->

                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-xs-4 col-sm-4">
                                        <div class="btn-group btn-group-justified">
                                            <label class="btn btn btn-primary" btn-radio="'all'" ng-model="filter.tr_type"  ng-change="filterChange()">
                                                Все
                                            </label>
                                            <label class="btn btn btn-primary" btn-radio="'in'" ng-model="filter.tr_type"  ng-change="filterChange()">
                                                Входящие
                                            </label>
                                            <label class="btn btn btn-primary" btn-radio="'out'" ng-model="filter.tr_type"  ng-change="filterChange()">
                                                Исходящие
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-sm-4"></div>

                                    <div class="col-xs-4 col-sm-4">
                                        <input type="text" class="form-control" placeholder="найти текст" ng-model="filter.keywords"  ng-change="filterChange()">
                                    </div>

                                    <!-- <div class="col-xs-4 col-sm-4">
                                        <div role="group" class="row">
                                            <div style="padding-right:5px" class="col-xs-6 col-sm-6">
                                                <button type="button" class="btn btn-block btn-primary">Применить</button></div>
                                            <div style="padding-left:5px" class="col-xs-6 col-sm-6">
                                                <button type="button" class="btn btn-block btn-default">Очистить фильтр</button>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </form>
                        </div>
                        <div class="table-responsive panel" ng-if="safe.history.length">

                            <table class="table table-condensed  data-table history-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th class="col-sm-1">
                                        <span class="nowrap">Дата операции <i class="fa fa-chevron-down" style="opacity:0.3"></i></span>
                                    </th>
                                    <th class="col-sm-1">
                                        <span class="nowrap">Состояние <i class="fa fa-chevron-down" style="opacity:0.3"></i></span>
                                    </th>
                                    <th class="col-sm-2">
                                        <span class="nowrap">Сумма, G <i style="opacity:0.3" class="fa fa-chevron-down"></i></span>
                                    </th>
                                    <th class="col-sm-2">
                                        <span class="nowrap">Комиссия, G</span>
                                    </th>
                                   <!--  <th class="col-sm-2">
                                        <span class="nowrap">Отправитель <i class="fa fa-chevron-down" style="opacity:0.3"></i></span>
                                    </th> -->
                                    <th class="col-sm-2">
                                        <span class="nowrap">Адрес <i class="fa fa-chevron-down" style="opacity:0.3"></i></span>
                                    </th>
                                    <th class="col-sm-2">
                                        <span class="nowrap">Комментарий</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in filtered_history" class="transaction-item">
                                    <td>
                                        <span class="mix-label mix-label-up">
                                         <img src="assets/font/svg/sound8.svg">
                                            <em>
                                                <i 
                                                    class="fa fa-lg"
                                                    ng-class="{
                                                        'text-muted': !item.height,
                                                        'text-danger': item.height && !item.is_income,
                                                        'text-success': item.height && item.is_income,
                                                        'fa-arrow-circle-o-up' : !item.is_income,
                                                        'fa-arrow-circle-o-down' : item.is_income,
                                                    }"
                                                >
                                                </i>
                                            </em>
                                        </span>
                                    </td>
                                    
                                    <td>
                                        <a ng-click="trDetails(item)"><small class="text-muted nowrap">{{item.timestamp | intToDate | date:'dd.MM.yy hh:mm'}}</small></a>
                                        <span class="chart send-timer" data-percent="86">
                                        </span>
                                    </td>

                                    <td>
                                        <small class="text-muted" ng-if="!item.is_income && !item.height">
                                            <em>Отправление</em>
                                        </small>
                                        <small class="text-warning" ng-if="!item.is_income && item.height">
                                            <em>Отправлено</em>
                                        </small>
                                        <small class="text-muted" ng-if="item.is_income && !item.height">
                                            <em>Получение</em>
                                        </small>
                                        <small class="text-info" ng-if="item.is_income && item.height">
                                            <em>Получено</em>
                                        </small>
                                    </td>

                                    <td>
                                        <span ng-if="!item.is_income">&ndash;</span>{{item.amount | gulden}}
                                    </td>

                                    <td>
                                        <span ng-if="!item.is_income">&ndash;</span>{{item.fee | gulden}}
                                    </td>

                                    <!-- <td>
                                        
                                        <div class="dropdown" ng-if="item.remote_address && item.is_income">
                                            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <span class="account-text">
                                                    <span class="text-muted">
                                                        <span style="color:#999">
                                                            {{item.remote_address}}
                                                        </span>
                                                    </span>
                                                    <span class="moredots">...<span class="caret"></span></span>
                                                </span>
                                            </button>
                                            
                                            <div role="menu" class="dropdown-menu dropdown-menu-left">
                                                <div style="padding:10px">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <div class="contractor">
                                                                <button style="position:absolute; bottom:0; right:0" class="btn btn-sm btn-default pull-right">
                                                                    скопировать
                                                                </button>
                                                                <pre class="safe-number" style="height:60px">{{item.remote_address}}</pre>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            
                                            <div role="menu" class="dropdown-menu dropdown-menu-left">
                                                <div style="padding:10px">
                                                    <ul class="list-unstyled">
                                                        <li>Сейф: <a href="">Safelabel1</a></li>
                                                        <li>
                                                            <div class="contractor">
                                                                <button style="position:absolute; bottom:0; right:0" class="btn btn-sm btn-default pull-right">
                                                                    скопировать
                                                                </button>
                                                                <pre class="safe-number" style="height:60px">{{item.remote_address}}
                                                                </pre>
                                                            </div>
                                                        </li>
                                                        <li><a href="">@onesafekaccout</a></li>
                                                        <li><a href="">@twosafeaccout</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <small class="text-muted" ng-if="!item.remote_address">
                                            <em>неизвестно</em>
                                        </small>
                                    </td> -->

                                    <td>
                                        
                                        <div class="dropdown" ng-if="item.remote_address">
                                            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <span class="account-text">
                                                    <span class="text-muted">{{item.remote_address}}</span>
                                                    <span class="moredots">...<span class="caret"></span></span>
                                                </span>
                                            </button>
                                            <div role="menu" class="dropdown-menu dropdown-menu-left">
                                                <div style="padding:10px">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <div class="contractor">
                                                                <!-- <button style="position:absolute; bottom:0; right:0" class="btn btn-sm btn-default pull-right">
                                                                    скопировать
                                                                </button> -->
                                                                <pre class="safe-number" style="height:60px">{{item.remote_address}}</pre>
                                                            </div>
                                                        </li>
                                                        <li  ng-repeat="alias in aliases | filter : {address: item.remote_address}"><a  href="#safe/{{safe.wallet_id}}">@{{alias.alias}}</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <small class="text-muted" ng-if="!item.remote_address">
                                            <em>неизвестно</em>
                                        </small>
                                    </td>

                                    <td><span class="text-muted">{{item.comment}}</span></td>
                                </tr>

                                </tbody>

                            </table>

                        </div>
                </div>
            </div>
          <!--   <div class="panel">
                <div class="panel-body">
                    <h4><a href="#" type="button" data-toggle="collapse" data-target=".collapse1">  <span>Добыча</span></a></h4>
                    <div class="collapse in collapse1">
                    </div>
                </div>
            </div> -->
        </div>


    </div>
    <hr>
    <div class="footer">


    </div>
