
<div class="modal-header btn btn-primary btn-block">
    <button type="button" class="close" ng-click="close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title text-center">Восстановление сейфа smartsafe</h4>
</div>

<div class="modal-body">
    <form name="smartSafeRestoreForm" novalidate>
        <div class="owl-carousel" data-owl-carousel data-options="owl_options">
            
            <div class="item" data-hash="screen11">
                

                <div class="form-group">
                    <label class="requred">
                        Имя для обозначения сейфа в приложении<!-- <button title=" " data-placement="right" data-toggle="tooltip" class="btn btn-link" type="button"><i class="fa fa-lg fa-question-circle text-muted"></i></button> -->
                    </label>
                    <div class="help-block">
                        Имя для сейфа &ndash; это любое слово или словосочетание для
                        обозначения этого сейфа в списке
                    </div>
                    <input type="text" ng-model="safe.name" class="input-lg form-control" placeholder="любое слово или словосочетание">
                </div>

                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <a type="button" ng-click="close()" class="btn btn-default btn-block btn-lg"> Отменить</a>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <a ng-disabled="!safe.name.length" class="btn btn-primary btn-block btn-lg owl-next" type="button">Продолжить</a>
                    </div>
                </div>
            </div>

            <div class="item" data-hash="screen12">
                <alert ng-show="!safe.restore_key_valid" type="danger">Фраза не валидна</alert>
                <div class="form-group clearfix">
                    <label class="requred">Фраза, шифрующая сейф</label>
                    <div class="help-block">Случайный набор букв, сгенерированный компьютером, при создании smartsafe бекапа сейфа.</div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-xs-12 col-sm-12">
                        <input type="text" ng-model="safe.restore_key" ng-change="checkRestoreKey(safe.restore_key)" class="form-control">
                    </div>
                </div>
                
                <a class="btn btn-link text-muted owl-prev" type="button"><i class="fa fa-lg fa-arrow-circle-left text-muted"></i> <span class="text-muted">Назад</span></a>

                <div class="form-group">
                    <div class="col-xs-6 col-sm-6">
                        <a ng-click="close()" type="button" class="btn btn-default btn-block btn-lg"> Отменить</a>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <a class="btn btn-primary btn-block btn-lg owl-next" type="button" ng-disabled="!safe.restore_key_valid || !safe.restore_key.length">Продолжить</a>
                    </div>
                </div>
            </div>

            <div class="item" data-hash="screen13">
                <div class="form-group clearfix">
                    <label class="requred">Новый пароль для сейфа</label>
                    <div class="help-block">Пароль может содержать латинские буквы, должно быть не менее одной прописной, цифры и символы. Для надежности используйте автоматический генератор с
                        установкой сложности пароля</div>
                    <input type="password" placeholder="" ng-model="safe.pass" name="pass" class="input-lg form-control">

                </div>

                <!-- <div class="form-group clearfix">
                    <div class="form-group">
                        <label>Надежность</label>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">40% (высокая)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 text-right"><button data-target="#generator" data-toggle="modal" class="btn btn-success" type="button">Генератор паролей</button> </div>
                </div> -->

                <a class="btn btn-link text-muted owl-prev" type="button">
                    <i class="fa fa-lg fa-arrow-circle-left text-muted"></i> 
                    <span class="text-muted">Назад</span>
                </a>
                <div class="form-group">
                    <div class="col-xs-6 col-sm-6">
                        <a ng-click="close()" type="button" class="btn btn-default btn-block btn-lg"> Отменить</a>
                    </div>

                    <div class="col-xs-6 col-sm-6">
                        <a class="btn btn-primary btn-block btn-lg owl-next" type="button" ng-disabled="!safe.pass.length">Продолжить</a>
                    </div>
                </div>
            </div>

            <div class="item" data-hash="screen14">
                <div class="alert alert-warning">
                    <h4 class="text-danger" style="margin:0">Важно</h4>
                    <p>Восстановить пароль невозможно. При утере пароля от сейфа, сейф придется отключить из приложения. Восстановить сейф можно только из цифровой копии ( brainwallet) или   физической копии файла с другим паролем, который вы помните. </p>
                </div>
                <h4>Проверьте точно ли вы запомнили пароль? </h4>
                <div class="form-group">
                    <label  class="requred">Введите пароль повторно</label>
                    <input class="form-control" ng-model="safe.pass2" name="pass2" type="password" match="safe.pass">
                </div>

                <a class="btn btn-success btn-block btn-lg" ng-disabled="!smartSafeRestoreForm.pass2.$valid" type="button" ng-click="saveWalletFile(safe)">
                    Сохранить файл сейфа 
                    <i class="fa fa-lg fa-check" ng-show="safe.file_saved"></i>
                </a>

                <hr>
                <h5>Чтобы не потерять и надежно защитить файл сейфа, вам необходимо создать  бекап файла сейфа на следующем шаге</h5>

                <a class="btn btn-primary btn-block btn-lg owl-next" ng-disabled="!safe.file_saved">Продолжить</a>

            </div>

            <div class="item" data-hash="screen15">
                <div class="form-group">
                    <div class="help-block">Файл сейфа является хранищем ваших средств. История платежей и Контакты также хранится в этом файле. Чтобы файл сейфа оставался подключенным в приложение, не перемещайте его из той директории, куда вы его сохранили.</div>
                </div>
                <h4>Физический бекап файла сейфа</h4>
                <div class="form-group">
                    <div class="help-block">Скопируйте созданный файл сейфа в другое надежное место, не храните бекап на том же компьютере.</div>
                </div>
                <div class="form-group">
                    <a class="btn btn-success btn-block btn-lg" type="button" ng-click="safeBackup(safe)">
                        Сохранить копию файла на компьютере
                        <i class="fa fa-lg fa-check savefilesuccess0" style="display:none"></i>
                    </a>
                </div>

                <div class="form-group">
                    <button type="button" ng-click="changeRestoreKey(safe)" class="btn btn-primary btn-block btn-lg" type="button" id="startsafeBtn0">Начать использовать сейф</button>
                </div>
            </div>

        </div>
    </form>
</div>
