

<h1>Перевод другому пользователю</h1>
<h5>Здесь Вы можете отправить гульдены любому пользваотелю сети, бла-бла-бла” и так для каждого экрана который мы выбираем слева в меню</h5>
<form class="form-horizontal" ng-controller="guldenSendCtrl">
    <div class="tabs">
        <div class="panel">
            <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-4">Со счета</label>
                        <select 
                            class="col-xs-8 col-sm-8" 
                            selectpicker 
                            ng-model="transaction.from" 
                            ng-options="safe.wallet_id as safe.name + ' (' +safe.balance_formated + ')' for safe in safes">
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-8 col-sm-8 col-sm-offset-4">
                            <label class="checkbox text-muted">
                                <input type="checkbox" ng-model="transaction.push_payer"> Показывать номер счета получателю
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-8 col-sm-8 col-sm-offset-4">
                            <label class="checkbox text-muted">

                                <input type="checkbox" ng-model="transaction.is_mixin">
                                 Микшировать (уровень {{settings.security.mixin_count}})
                            </label>
                        </div>
                    </div>

                    <div class="form-group has-success has-feedback">
                        <label class="control-label col-xs-4 col-sm-4">
                            Получатель
                            <i 
                                class="fa fa-lg " 
                                ng-class="{
                                    'text-success fa-check':transaction.is_valid_address,
                                    'text-danger fa-question':!transaction.is_valid_address,
                                }"
                            ></i>
                        </label>
                        <div class="col-xs-6 col-sm-6">
                            <!-- <input 
                                type="text" 
                                class="form-control" 
                                ng-model="transaction.to" 
                                placeholder="счет или алиас"
                                ng-change="validate_address()"
                            > -->
                            <div>
                                <angucomplete-alt 
                                    placeholder="счет или алиас"
                                    pause="100"
                                    selected-object="selectAlias"
                                    local-data="aliases"
                                    search-fields="name"
                                    title-field="name"
                                    description-field="comment"
                                    minlength="3"
                                    input-class="form-control"
                                    input-changed="inputChanged"
                                    initial-value="{{transaction.to}}"
                                    text-no-results="Aliases not found"
                                />
                            </div>
                            <div ng-if="transaction.to.length">
                                <span ng-repeat="alias in aliases | filter : {address: transaction.to}">
                                    <span class="label label-info">@{{alias.alias}}</span>
                                <span>
                            </div>

                            
                            
                            <!-- <span id="inputSuccess2Status" class="sr-only">(success)</span> -->
                        </div>



                        <script type="text/ng-template" id="recepientHistory">
                            <div style='margin: -10px -14px 10px; max-height: 300px; overflow: auto;'>
                                <table class='table table-condensed'>
                                    <tbody>
                                        <tr ng-if="items.length" ng-repeat="item in items = (txHistory | filter : {remote_address : transaction.to})">
                                            <td>
                                                <a class='blocklink' href=''></a>
                                                <a ng-repeat="contact in settings.system.contacts" href=''>{{contact.name}}</a>
                                                <span class='account-text'>
                                                    <span class='text-muted'>{{item.remote_address}}</span>
                                                    <span class='moredots'>...</span>
                                                </span>
                                                <span ng-repeat="alias in aliases | filter : {address: transaction.to}">
                                                    <span class="label label-info">@{{alias.alias}}</span>
                                                <span>
                                            </td>
                                            <td>
                                                <i ng-if="item.is_income" class='fa fa-lg fa-arrow-circle-o-down text-success'></i>
                                                <i ng-if="!item.is_income" class='fa fa-lg fa-arrow-circle-o-up text-danger'></i>
                                            </td>
                                            <td>
                                                <span class='nowrap'>{{item.amount | gulden}}</span>
                                            </td>
                                        </tr>
                                        <tr ng-if="!items.length">
                                            <td colspan="3">Нет истории</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </script>



                        <div class="col-xs-2 col-sm-2">
                            <div class="btn-group">
                                <button 
                                    class="btn btn-default popover-name" 
                                    popover-placement="left"  
                                    popover-template="'recepientHistory'"
                                    popover-title="История платежей по контакту" 
                                    ng-disabled = "!transaction.is_valid_address"
                                > 
                                    <i class="fa fa-lg fa-history"></i>
                                </button>
                            </div>
                            <div class="btn-group">
                                <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                                    <i class="fa fa-lg fa-save"></i> <span class="caret"></span>
                                </button>
                                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                                    <li><a href="">Добавить новый контакт</a></li>
                                    <li><a href="">Добавить в существующий контакт</a></li>
                                </ul>
                            </div>
                        </div>

                        
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-4">Сумма</label>
                        <div class="col-xs-3 col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="число" ng-model="transaction.ammount">
                                <span class="input-group-addon">G</span>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="число" ng-model="transaction.fee" value="1.76">
                                <span class="input-group-addon" >G</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3 col-sm-3 col-sm-offset-4">
                            
                            <label class="ui-checkbox ui-checkbox">
                                <input type="checkbox" ng-model="transaction.is_delay" class="ng-pristine ng-untouched ng-valid">
                                <span class="text-muted">Отложенный перевод</span>
                            </label>
                        </div>
                        <div class="col-xs-5 col-sm-5">
                            <div class="help-block">Комиссия, при которой платеж будет наиболее быстро обработан системой</div>
                        </div> 
                    </div>

                    <div ng-show="transaction.is_delay">
                        <div class="form-group">
                            <label class="control-label col-xs-4 col-sm-4">Дата и время</label>
                            <div class="col-xs-3 col-sm-3 sdatapicker">
                                <div class="input-group date">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        datepicker-popup="{{format}}" 
                                        show-button-bar="false"
                                        ng-model="transaction.lock_time" 
                                        is-open="opened" 
                                        datepicker-options="dateOptions" 
                                        date-disabled="disabled(date, mode)" 
                                        ng-required="true" 
                                        ng-change=""
                                        close-text="Close" 
                                    />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)">
                                            <i class="fa fa-lg fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>             
                            </div>
                            <div class="col-xs-2 col-sm-2">
                                <div class="btn-group" dropdown is-open="status.isopen">
                                  <button type="button" class="btn btn-default dropdown-toggle btn-w-md" dropdown-toggle  style="width: 120px;">
                                    {{transaction.lock_time | date:'shortTime' }} <i class="fa fa-lg fa-clock-o"></i>
                                  </button>
                                  <ul class="dropdown-menu" role="menu" style="padding: 10px;">
                                    <li>
                                        <timepicker 
                                            ng-model="transaction.lock_time" 
                                            hour-step="1" 
                                            minute-step="15" 
                                            show-meridian="false"
                                        >
                                        </timepicker>
                                    </li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-4">Комментарий</label>
                        <div class="col-xs-8 col-sm-8">
                            <input type="text" class="form-control" placeholder="сообщение получателю"  ng-model="transaction.comment">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-sm-offset-4">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6">
                                    <a class="btn btn-block btn-lg btn-default">Отменить</a>
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <button data-target="#confirm" data-toggle="modal" ng-click="send(transaction)" class="btn btn-block btn-lg btn-primary" id="submibtn" type="button">Отправить</button> 
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>
<hr>

<div class="footer">
    <p class="small text-muted">
        Текст о том что пользователи сами берут на себя ответственность за свои заявки и исполнение обязательств по ним, текст о том что пользователи сами берут на себя ответственность за свои заявки и исполнение обязательств по ним.
    </p>
</div>


