html {
    margin: 0;
}

body {
    font: 16px/1.5em "Helvetica Neue", Helvetica, sans-serif;
    margin: 0em 0 0em 0;
}

h1 {
    color: #555;
    font-size: 64px;
    font-weight: 200;
    letter-spacing: -2px;
    white-space: nowrap;
    margin-top: 20px;
    margin-bottom: 80px;
}

h1,
h2 {
    text-rendering: optimizeLegibility;
}

.column {
    margin: auto;
    padding-right: 240px;
    position: relative;
}


.inline_menu_bar
{
    border-bottom: 1px solid #ebebeb;
    height: 40px;
    line-height: 36px;
    padding: 0;
    position: relative;
    display: block;
}
.inline_menu_bar_item
{
    color: #777;
    font-size: 20px;
    font-family: arial,sans-serif;
    display: inline-block;
    margin: 0 8px;
    padding: 0 8px;
    cursor:pointer;
}

.inline_menu_bar_item:hover
{
    color: #000;
}

.inline_menu_bar_selected_item
{
    border-bottom: 3px solid #dd4b39;
    color: #dd4b39;
    font-weight: bold;
    height: 36px;
    margin: 2px 8px 0;
    padding: 0 8px;
}

#daemon_state_view
{
    margin-top: 10px;
    margin-left: 10px;
}

.inline_menu_bar_selected_item:hover
{
    color: #dd4b39;
}


.menu_brackets_text
{
    /*font-weight: normal;*/
    color: #6c98a5;
}

.view_hidden
{
    display: none;
}

.inline_menu_bar_item_disabled
{
    cursor: default;
}

.inline_menu_bar_item_disabled:hover
{
    color: #777;
}

.menu_view_inner_area
{
    padding-top: 12px;
    padding-left: 12px;
}

/*dashboard styles*/

span.daemon_view_general_status_value_success_text
{
    color: #1a9d00;
    font-weight:bold;
}

.daemon_view_general_status_text
{
    color: #6c6c6c;
}

.daemon_view_param_title
{
    color: #999;
}

.daemon_view_param_value
{
    position: absolute;
    left:220px;
    font-weight:bold;
    color: #6c6c6c;
    font-size: 17px;
}

#open_wallet_button
{
    margin-top: 25px;
    margin-left: 120px;
    width: 200px;
}

#synchronization_progressbar_block
{
    padding-top: 25px;
    padding-left: 15px;
}

.daemon_view_details_block
{
    padding-top: 20px;
}

.daemon_view_general_status_block
{
    padding-top: 20px;
    font-size: 30px;
}

.daemon_view_details_status_block
{
    font: 14px;
}

/*----- wallet ------*/

#wallet_left_panel
{
    padding: 5px;
    float: left;
    width: 200px;
    height: 300px;
    background: rgb(241, 241, 241);
}

.balance_text
{
    margin-top: 20px;
    color: rgb(95, 95, 95);
    font: 14px;
    font-weight: bold;
}

#wallet_transfer_panel
{
    background: rgb(241, 241, 241);
    padding: 5px;
    margin-left:220px;
}

#transfer_address_id
{
    height: 16px;
    margin-left:2px;
    width: 570px;
    font-size: 10px;
}
#transfer_button_id,#close_wallet_button_id
{
    font-size: 12px;
    margin-left: 2px;
}

.options_link_text
{
    font-size: 90%;
    color:  #666666;
}

.transfer_extra_options
{
    color: #8f8f8f;
    display: none;
}

#wallet_recent_transfers_panel
{
    /*background: rgb(241, 241, 241);*/
    padding: 5px;
    margin-top: 10px;
    margin-left: 220px;
}

#synchronized_wallet_block
{
    color: #1a9d00;
    font-weight:bold;
}

h2
{
    color: #6c6c6c;
}

