html {
    height:100%;
}

body {
    margin:0px;
    padding:0px;
    background-color: #F4F6F6;
    font-family: 'Open Sans', sans-serif;
    height:100%;
    overflow: hidden;
}

nav {
    float:left;
    background-color: RGB(46, 50, 67);
    text-align:center;
    color: RGB(147, 153,176); 
    height:100%;
    width: 260px;
    position: relative;
}

#searchbox {
    padding-top:10px;
    padding-bottom:0px;
    padding-left:10px;
    padding-right: 10px;
    height: 40px;
    background-color:#0081BE;
}

#logocontainer {
    padding: 70px;
}

div[role="main"] {
    float: left;
    background-color: #F4F6F6;
    height:100vh;
    width: calc(100% - 260px);
}

#searchterm {
    background-color:#0081BE;
    border:none;
    color:#ffffff;
    margin-top: 5px;
    padding-bottom:0px; 
    margin-bottom:0px;
    font-style:italic;
}

#searchseparator {
    color:#ffffff;
    background-color:#ffffff;
    padding:0px;
    margin:0px;
    border:none;
    height:1px;
}

#searchicon {
    padding-bottom:0px;
    margin-bottom:0px;
}
#menubox {
    height: 230px;
    /*border: solid 1px;
    border-color:yellow;*/
}

.is-disabled {
    opacity: .5;
    pointer-events: none;
}    

#menu, #walletmenu {
    margin: 0;
    list-style-position: outside;
    line-height: 1.2em;
    text-align: left;
    list-style-type: none;
}

#menu {
    padding: 0;
}

#walletmenu {
    display: none;
}

    #walletmenu[data-state='active'] {
        display: block;
    }

.menuitem {
    background-position: 10px;
    border-left: solid, 2px;
    border-color: #006592;
    border-left-style: solid;
    border-left-width: thick;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top:15px;
    font-size:larger;
    height: 30px;
}

    .menuitem:hover {
        text-decoration: underline;    
    }

    .menuitem[data-state='active'] {
        border-color: #0081BE;
        color:#ffffff;
    }

#walletitem {
    background-image: url('../images/walleticon.png');
}

#walletitem[data-state='active'] {
    background-image: url('../images/walleticonactive.png');
}

#transactionsitem {
    background-image: url('../images/transactionsicon.png');
}

#transactionsitem[data-state='active'] {
    background-image: url('../images/transactionsiconactive.png');
}

#addressbookitem {
    background-image: url('../images/addressbookicon.png');
}

#addressbookitem[data-state='active'] {
    background-image: url('../images/addressbookiconactive.png');
}

#openwalletitem, #createwalletitem, #restorewalletitem {
    background-image: url('../images/listicon.png');
    background-repeat: no-repeat;
}

#openwalletitem[data-state='active'], 
#createwalletitem[data-state='active'], 
#restorewalletitem[data-state='active']  {
    background-image: url('../images/listiconactive.png');
}


.walletmenuitem {
    background-position: 5px;
    border-left: solid, 2px;
    border-color: RGB(147, 153,176);
    border-left-style: solid;
    border-left-width: thick;
    padding-left: 25px;
    background-repeat: no-repeat;
}

    .walletmenuitem:hover {
        text-decoration: underline;    
    }

    .walletmenuitem[data-state='active'] {
        border-color: #ffffff;
        color:#ffffff;
    }

#blockchainprogress {
    width: 80%;
    color: #0000ff;
    background-color:#ffffff;
    border: none;
    height: 5px;
    margin: auto;
}

#statusbox {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    font-style: italic;
    font-size: small;
    position:absolute;
    bottom:0;
    width:100%;
}

#connectionstatus {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 15px;
    text-align: center;
    background-color: #272938;
    vertical-align: middle;
}

#connectstatedescr {
    margin-left: 10px;
    margin-right: 30px;
}

#connectionstatus img{
    margin-left: 5px;
    margin-right: 5px;
}

#infobox {
    background-color: RGB(46, 50, 67);
    text-align:left;
    color: RGB(147, 153,176); 
    padding-top:5px;
    padding-bottom:0px;
    padding-left:10px;
    padding-right: 10px;
    height: 47px;
    min-width: 850px;
    font-size:small;
}

.informer {
    background-position: left center;
    padding-top: 0px;
    padding-left: 25px;
    float: left;
    margin-left: 50px;
    background-repeat: no-repeat;
}

    .informer .informertitle {
        font-weight: bold;
        color:#008DD2;
    }

    .informer .informervalue {
        color:#ffffff;
    }


#balanceview {
    background-image: url('../images/balance.png');
}

#unlockedview {
    background-image: url('../images/unlocked.png');
}

#unconfirmedview {
    background-image: url('../images/unconfirmed.png');
}

.content {
    background-color: #F4F6F6;
    padding-top: 0px;
    padding-left: 30px;
    color:#9399B0;
    height:90%;
}

    .content h1 {
        font-weight:normal;
    }

.actionparams {
    border-spacing: 1px;
}

    .actionparams td {
        padding:2px;
    }

    .actionparams input[type='text'], .actionparams input[type='password'] {
        border:none;
        height: 23px;
        width: 500px;
        color:#9399B0;
    }

.tablelabel {
    border: solid thin;
    border-color:#9399B0;
    border-radius: 5px;
    padding-right: 20px;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    font-size:small;
    background-color:#ffffff;
}

.openfile {
    padding: 2px 4px 2px 8px;
    margin-left: 10px;
    font-size: small;
    background-color: #9399B0;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    max-width: 100px;
}

    .openfile:hover {
        border:solid 1px;
        border-color:#9399B0;
    }

.executeaction {
    background-position: 10px;
    background-color: #ffffff;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: x-large;
    width: 300px;
    margin-top: 20px;
    background-image: url('../images/action.png');
    background-repeat: no-repeat;
    border:none;
    border-radius: 5px;
    color: #9399B0;
}

    .executeaction:hover {
        border:solid 1px;
        border-color:#9399B0;
    }

.screen {
    display: none;
}

    .screen[data-state='active'] {
        display: block;
    }

.trxlist {
    border-spacing: 4px;
}

.trxlist td {
    background-color:#ffffff;
    padding: 5px;
}

.iconcell {
    background-position: center center;
    min-width: 62px;
    width: 62px;
    height: 40px;
    background-repeat: no-repeat;
    border:none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

    .iconcell[data-type='in'] {
        background-image: url('../images/intrx.png');
    }

    .iconcell[data-type='out'] {
        background-image: url('../images/outtrx.png');
    }

    .iconcell[data-type='unconfirmed'] {
    background-position: right top;
    background-image: url('../images/unconfirmedtrx.png');
    border-color: #2FAC33;
    color: #2FAC33;
    border: solid 2px;
}

.infocellheader {
    font-size: x-small;
    min-width: 120px;
}

.infocellmoreicon {
    background-position: 175px center;
    background-image: url('../images/more.png');
    background-repeat: no-repeat;
    width: 200px;
}

.close {
    background-position: center center;
    width: 32px;
    background-image: url('../images/close.png');
    background-repeat: no-repeat;
}

    .close:hover {
        border:solid 1px;
        border-color:#9399B0;
    }

.addressfield {
    width:98%;
    background-color:#ffffff;
    border:none;
    margin:auto;
    padding-right:0;
    padding-left: 10px;
    height:30px;
    color:#9399B0;
}

.labeledfield {
    width:80%;
    background-color:#ffffff;
    border:none;
    margin:auto;
    padding-right:0;
    padding-left: 10px;
    height:30px;
    color:#9399B0;
}

.addressbutton {
    background-position: center center;
    width: 70px;
    background-color: #ffffff;
    border: none;
    background-image: url('../images/addressbookicon.png');
    background-repeat: no-repeat;
    height:30px;
}

    .addressbutton:hover {
        border:solid 1px;
        border-color:#9399B0;
    }

.amountfield {
    width:95%;
    background-color:#ffffff;
    border:none;
    height:30px;
    margin:auto;
    padding-left: 10px;
    color:#9399B0;
}

.mixingslider {
    margin-top: 5px;
    width: 80%;
	-webkit-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #333;
	background-color: #999;
	height: 1px;
	vertical-align: middle;
    margin-left: 1px;
    margin-right: 1px;
}

.mixingslider::-moz-range-track {
	 -moz-appearance: none;
	 border-radius: 5px;
	 box-shadow: inset 0 0 5px #333;
	 background-color: #999;
	 height: 1px;
}

.mixingslider::-webkit-slider-thumb {
	 -webkit-appearance: none !important;
	 border-radius: 8px;
	 background-color: #FFF;
	 box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
	 border: 1px solid #999;
	 height: 8px;
	 width: 8px;
}

.mixingslider::-moz-range-thumb {
	 -moz-appearance: none;
	 border-radius: 8px;
	 background-color: #FFF;
	 box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
	 border: 1px solid #999;
	 height: 8px;
	 width: 8px;
}

.morebutton {
    background-position: 5px center;
    width: 70px;
    background-color: #ffffff;
    border: none;
    background-image: url('../images/settings.png');
    background-repeat: no-repeat;
    height: 30px;
    color: #0081BE;
    border-radius: 4px;
    padding-left: 30px;
    text-align: left;
}

    .morebutton:hover {
        border:solid 1px;
        border-color:#0081BE;
    }

.sendbutton {
    background-position: 55px center;
    width: 80px;
    background-color: #ffffff;
    border: none;
    background-image: url('../images/send.png');
    background-repeat: no-repeat;
    margin-top: 20px;
    padding-left: 5px;
    height: 33px;
    color: #0081BE;
    text-align: left;
}

    .sendbutton:hover {
        border:solid 1px;
        border-color:#0081BE;
    }

.copybtn {
    padding: 2px 4px 2px 8px;
    margin-left: 10px;
    width: 40px;
    font-size: small;
    background-color: #9399B0;
    border-radius: 4px;
    border: none;
    color: #ffffff;
}

    .copybtn:hover {
        border:solid 1px;
        border-color:#9399B0;
    }

#sendparams {
    width: 100%;
    padding: 5px;
}

    #sendparams td {
    }

.hiddenparam {
    display: none;
}

#walletsendaddresslist {
    position: absolute;
    top: 100px;
    left: 100px;
    display: none;
    border:solid 1px;
    border-color:#9399B0;
    color:#9399B0;
    background-color:#ffffff;
    padding: 5px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}

    #walletsendaddresslist ul {
        list-style-position: outside;
        text-align: left;
        list-style-type: none;
        margin-left: 5px;
        padding-left: 5px;
    }

    #walletsendaddresslist li {
        margin-left: 5px;
        padding-left: 5px;
        cursor:pointer;
    }

    #walletsendaddresslist li:hover {
        text-decoration:underline;
    }

.trxdetails {
    display: none;
    padding: 5px;
}

.wtrxlistwrapper {
    max-width: 75%;
    overflow-y:scroll;
    overflow-x:visible;
    height: 200px;
    position: absolute;
    bottom: 10px;
}

.trxlistwrapper {
    max-width: 75%;
    overflow-y:scroll;
    overflow-x:visible;
    position: absolute;
    top: 120px;
    bottom: 10px;
}